In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import math

%matplotlib inline

import warnings

warnings.simplefilter(action='ignore', category=pd.errors.PerformanceWarning)

In [2]:
df = pd.read_csv('./data/brfss_reduced.csv')

In [3]:
df['SEXVAR'] -= 1
df['SEXVAR'].describe()

count    378564.000000
mean          0.538440
std           0.498521
min           0.000000
25%           0.000000
50%           1.000000
75%           1.000000
max           1.000000
Name: SEXVAR, dtype: float64

In [4]:
df = df[df['GENHLTH'] != 7]
df = df[df['GENHLTH'] != 9]

In [5]:
df['GENHLTH'] = df['GENHLTH'].replace(1,0)
df['GENHLTH'] = df['GENHLTH'].replace(2,1)
df['GENHLTH'] = df['GENHLTH'].replace(3,2)
df['GENHLTH'] = df['GENHLTH'].replace(4,3)
df['GENHLTH'] = df['GENHLTH'].replace(5,4)

In [6]:
df = df.dropna(subset=['GENHLTH'])

In [7]:
df["GENHLTH"].value_counts()

1.0    130987
2.0    118466
0.0     66795
3.0     46621
4.0     15011
Name: GENHLTH, dtype: int64

In [8]:
df['PHYSHLTH'].isna().sum()

2

In [9]:
df['PHYSHLTH'] = df['PHYSHLTH'].replace(88,0)
df['PHYSHLTH'] = df['PHYSHLTH'].replace([77,99],np.nan)
df['PHYSHLTH'].describe()

count    371439.000000
mean          3.776157
std           8.303671
min           0.000000
25%           0.000000
50%           0.000000
75%           2.000000
max          30.000000
Name: PHYSHLTH, dtype: float64

In [10]:
df['MENTHLTH'].isna().sum()

0

In [11]:
df['MENTHLTH'] = df['MENTHLTH'].replace(88,0)
df['MENTHLTH'] = df['MENTHLTH'].replace([77,99],np.nan)
df['MENTHLTH'].describe()

count    372553.000000
mean          4.125131
std           8.133648
min           0.000000
25%           0.000000
50%           0.000000
75%           4.000000
max          30.000000
Name: MENTHLTH, dtype: float64

In [12]:
df['POORHLTH'].isna().sum()

175030

In [13]:
df['POORHLTH'] = df['POORHLTH'].replace(88,0)
df['POORHLTH'] = df['POORHLTH'].fillna(0)
df['POORHLTH'] = df['POORHLTH'].replace([77,99],np.nan)
df['POORHLTH'].describe()

count    374393.000000
mean          2.742533
std           7.011285
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max          30.000000
Name: POORHLTH, dtype: float64

In [14]:
df['PERSDOC3'].isna().sum()

0

In [15]:
# has a personal doctor
df['PERSDOC3'].replace(2,1, inplace=True)
df['PERSDOC3'].replace(3,0, inplace=True)
df['PERSDOC3'].replace([7,9],np.nan, inplace=True)
df['PERSDOC3'].describe()

count    375303.000000
mean          0.883156
std           0.321235
min           0.000000
25%           1.000000
50%           1.000000
75%           1.000000
max           1.000000
Name: PERSDOC3, dtype: float64

In [16]:
df['MEDCOST1'].isna().sum()

3

In [17]:
# Could Not Afford To See Doctor
df['MEDCOST1'].replace(2,0, inplace=True)
df['MEDCOST1'].replace([7,9],np.nan, inplace=True)
df['MEDCOST1'].describe()

count    377020.000000
mean          0.073198
std           0.260461
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: MEDCOST1, dtype: float64

In [18]:
df['CHECKUP1'].isna().sum()

0

In [19]:
# Length of time since last routine checkup
df['CHECKUP1'].replace([2,3,4,8],0, inplace=True)
df['CHECKUP1'].replace([7,9],np.nan, inplace=True)
df['CHECKUP1'].describe()

count    373877.000000
mean          0.778128
std           0.415506
min           0.000000
25%           1.000000
50%           1.000000
75%           1.000000
max           1.000000
Name: CHECKUP1, dtype: float64

In [20]:
df['EXERANY2'].isna().sum()

0

In [21]:
# Exercise in Past 30 Days
df['EXERANY2'].replace(2,0, inplace=True)
df['EXERANY2'].replace([7,9],np.nan, inplace=True)
df['EXERANY2'].describe()

count    377345.000000
mean          0.763654
std           0.424838
min           0.000000
25%           1.000000
50%           1.000000
75%           1.000000
max           1.000000
Name: EXERANY2, dtype: float64

In [22]:
df['BPHIGH6'].isna().sum()

0

In [23]:
# Ever Told Blood Pressure High
df['high_blood_pressure'] = df['BPHIGH6']
df['high_blood_pressure'].replace([2,3,4],0, inplace=True)
df['high_blood_pressure'].replace([7,9],np.nan, inplace=True)
df['high_blood_pressure'].describe()

count    376616.000000
mean          0.394688
std           0.488784
min           0.000000
25%           0.000000
50%           0.000000
75%           1.000000
max           1.000000
Name: high_blood_pressure, dtype: float64

In [24]:
# Ever Told Blood Pressure High
df['pregnant_high_blood_pressure'] = df['BPHIGH6']
df['pregnant_high_blood_pressure'].replace([1,3,4],0, inplace=True)
df['pregnant_high_blood_pressure'].replace(2,1, inplace=True)
df['pregnant_high_blood_pressure'].replace([7,9],np.nan, inplace=True)
df['pregnant_high_blood_pressure'].describe()

count    376616.000000
mean          0.008077
std           0.089510
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: pregnant_high_blood_pressure, dtype: float64

In [25]:
# Ever Told Blood Pressure High
df['borderline_high_blood_pressure'] = df['BPHIGH6']
df['borderline_high_blood_pressure'].replace([1,2,3],0, inplace=True)
df['borderline_high_blood_pressure'].replace(4,1, inplace=True)
df['borderline_high_blood_pressure'].replace([7,9],np.nan, inplace=True)
df['borderline_high_blood_pressure'].describe()

count    376616.000000
mean          0.010823
std           0.103468
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: borderline_high_blood_pressure, dtype: float64

In [26]:
df = df.drop(['BPHIGH6'], axis=1)

In [27]:
df['BPMEDS'].isna().sum()

229234

In [28]:
# high blood pressure medication
df['BPMEDS'] = df['BPMEDS'].fillna(0)
df['BPMEDS'] = df['BPMEDS'].replace(2,0)
df['BPMEDS'] = df['BPMEDS'].replace([7,9],np.nan)
df['BPMEDS'].describe()

count    377549.000000
mean          0.325791
std           0.468670
min           0.000000
25%           0.000000
50%           0.000000
75%           1.000000
max           1.000000
Name: BPMEDS, dtype: float64

In [29]:
df['CHOLCHK3'].isna().sum()

0

In [30]:
# cholesterol checked within last year
df['cholesterol_checked_within_year'] = df['CHOLCHK3']
df['cholesterol_checked_within_year'].replace([1,3,4,5,6,8],0, inplace=True)
df['cholesterol_checked_within_year'].replace(2,1, inplace=True)
df['cholesterol_checked_within_year'].replace([7,9],np.nan, inplace=True)
df['cholesterol_checked_within_year'].describe()

count    354779.000000
mean          0.708331
std           0.454531
min           0.000000
25%           0.000000
50%           1.000000
75%           1.000000
max           1.000000
Name: cholesterol_checked_within_year, dtype: float64

In [31]:
df = df.drop(['CHOLCHK3'], axis=1)

In [32]:
df['TOLDHI3'].isna().sum()

49521

In [33]:
# been told cholesterol is high
df['TOLDHI3'].fillna(0, inplace=True)
df['TOLDHI3'].replace(2,0, inplace=True)
df['TOLDHI3'].replace([7,9],np.nan, inplace=True)
df['TOLDHI3'].describe()

count    375439.000000
mean          0.350142
std           0.477015
min           0.000000
25%           0.000000
50%           0.000000
75%           1.000000
max           1.000000
Name: TOLDHI3, dtype: float64

In [34]:
df['CHOLMED3'].isna().sum()

50186

In [35]:
# Currently taking medicine for high cholesterol
df['CHOLMED3'].fillna(0, inplace=True)
df['CHOLMED3'].replace(2,0, inplace=True)
df['CHOLMED3'].replace([7,9],np.nan, inplace=True)
df['CHOLMED3'].describe()

count    376487.000000
mean          0.265712
std           0.441712
min           0.000000
25%           0.000000
50%           0.000000
75%           1.000000
max           1.000000
Name: CHOLMED3, dtype: float64

In [36]:
df['CVDINFR4'].isna().sum()

0

In [37]:
# *had heart attack*
df['CVDINFR4'].replace(2,0, inplace=True)
df['CVDINFR4'].replace([7,9],np.nan, inplace=True)
df['CVDINFR4'].describe()

count    375992.000000
mean          0.051669
std           0.221357
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: CVDINFR4, dtype: float64

In [38]:
df['CVDCRHD4'].isna().sum()

0

In [39]:
# *told had angina or coronary heart disease*
df['CVDCRHD4'].replace(2,0, inplace=True)
df['CVDCRHD4'].replace([7,9],np.nan, inplace=True)
df['CVDCRHD4'].describe()

count    374651.000000
mean          0.053100
std           0.224233
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: CVDCRHD4, dtype: float64

In [40]:
df['CVDSTRK3'].isna().sum()

0

In [41]:
# *had stroke*
df['CVDSTRK3'].replace(2,0, inplace=True)
df['CVDSTRK3'].replace([7,9],np.nan, inplace=True)
df['CVDSTRK3'].describe()

count    376872.000000
mean          0.038525
std           0.192460
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: CVDSTRK3, dtype: float64

In [42]:
df['ASTHMA3'].isna().sum()

0

In [43]:
# *had asthma*
df['ASTHMA3'].replace(2,0, inplace=True)
df['ASTHMA3'].replace([7,9],np.nan, inplace=True)
df['ASTHMA3'].describe()

count    376634.000000
mean          0.142494
std           0.349556
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: ASTHMA3, dtype: float64

In [44]:
df['ASTHNOW'].isna().sum()

324212

In [45]:
# *has asthma now*
df['ASTHNOW'].fillna(0, inplace=True)
df['ASTHNOW'].replace(2,0, inplace=True)
df['ASTHNOW'].replace([7,9],np.nan, inplace=True)
df['ASTHNOW'].describe()

count    376370.000000
mean          0.098780
std           0.298367
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: ASTHNOW, dtype: float64

In [46]:
df['CHCSCNCR'].isna().sum()

0

In [47]:
# *had skin cancer*
df['CHCSCNCR'].replace(2,0, inplace=True)
df['CHCSCNCR'].replace([7,9],np.nan, inplace=True)
df['CHCSCNCR'].describe()

count    376858.000000
mean          0.095930
std           0.294496
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: CHCSCNCR, dtype: float64

In [48]:
df['CHCOCNCR'].isna().sum()

0

In [49]:
# *had other cancer*
df['CHCOCNCR'].replace(2,0, inplace=True)
df['CHCOCNCR'].replace([7,9],np.nan, inplace=True)
df['CHCOCNCR'].describe()

count    376960.000000
mean          0.098077
std           0.297419
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: CHCOCNCR, dtype: float64

In [50]:
df['CHCCOPD3'].isna().sum()

0

In [51]:
# *Ever told you had C.O.P.D. emphysema or chronic bronchitis?*
df['CHCCOPD3'].replace(2,0, inplace=True)
df['CHCCOPD3'].replace([7,9],np.nan, inplace=True)
df['CHCCOPD3'].describe()

count    376393.000000
mean          0.078110
std           0.268345
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: CHCCOPD3, dtype: float64

In [52]:
df['ADDEPEV3'].isna().sum()

0

In [53]:
# *had depressive disorder*
df['ADDEPEV3'].replace(2,0, inplace=True)
df['ADDEPEV3'].replace([7,9],np.nan, inplace=True)
df['ADDEPEV3'].describe()

count    376070.000000
mean          0.200420
std           0.400315
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: ADDEPEV3, dtype: float64

In [54]:
df['CHCKDNY2'].isna().sum()

0

In [55]:
# *Ever told you have kidney disease?*
df['CHCKDNY2'].replace(2,0, inplace=True)
df['CHCKDNY2'].replace([7,9],np.nan, inplace=True)
df['CHCKDNY2'].describe()

count    376582.000000
mean          0.039577
std           0.194964
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: CHCKDNY2, dtype: float64

In [56]:
df['DIABETE4'].isna().sum()

0

In [57]:
# *Ever told you had diabetes*
df['DIABETE4'].replace([3,4],0, inplace=True)
df['DIABETE4'].replace(2,1, inplace=True)
df['DIABETE4'].replace([7,9],np.nan, inplace=True)
df['DIABETE4'].describe()

count    377280.000000
mean          0.140771
std           0.347785
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: DIABETE4, dtype: float64

In [58]:
df['HAVARTH5'].isna().sum()

0

In [59]:
# *have arthritis*
df['HAVARTH5'].replace(2,0, inplace=True)
df['HAVARTH5'].replace([7,9],np.nan, inplace=True)
df['HAVARTH5'].describe()

count    375795.000000
mean          0.332093
std           0.470965
min           0.000000
25%           0.000000
50%           0.000000
75%           1.000000
max           1.000000
Name: HAVARTH5, dtype: float64

In [60]:
# drop JOINPAI2, relies on knowing they have arthritis
df = df.drop(['JOINPAI2'], axis=1)

In [61]:
df['MARITAL'].isna().sum()

1

In [62]:
df['MARITAL'].replace(9,np.nan, inplace=True)

In [63]:
# married
df['married'] = df['MARITAL']
df['married'].replace([2,3,4,5,6],0, inplace=True)
df['married'].describe()

count    374680.000000
mean          0.530866
std           0.499047
min           0.000000
25%           0.000000
50%           1.000000
75%           1.000000
max           1.000000
Name: married, dtype: float64

In [64]:
# divorced
df['divorced'] = df['MARITAL']
df['divorced'].replace([1,3,4,5,6,9],0, inplace=True)
df['divorced'].replace(2,1, inplace=True)
df['divorced'].describe()

count    374680.000000
mean          0.127890
std           0.333968
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: divorced, dtype: float64

In [65]:
# widowed
df['widowed'] = df['MARITAL']
df['widowed'].replace([1,2,4,5,6,9],0, inplace=True)
df['widowed'].replace(3,1, inplace=True)
df['widowed'].describe()

count    374680.000000
mean          0.106235
std           0.308138
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: widowed, dtype: float64

In [66]:
# Separated
df['separated'] = df['MARITAL']
df['separated'].replace([1,2,3,5,6,9],0, inplace=True)
df['separated'].replace(4,1, inplace=True)
df['separated'].describe()

count    374680.000000
mean          0.018843
std           0.135970
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: separated, dtype: float64

In [67]:
# never_married
df['never_married'] = df['MARITAL']
df['never_married'].replace([1,2,3,4,6,9],0, inplace=True)
df['never_married'].replace(5,1, inplace=True)
df['never_married'].describe()

count    374680.000000
mean          0.175075
std           0.380032
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: never_married, dtype: float64

In [68]:
# unmarried_couple
df['unmarried_couple'] = df['MARITAL']
df['unmarried_couple'].replace([1,2,3,4,5,9],0, inplace=True)
df['unmarried_couple'].replace(6,1, inplace=True)
df['unmarried_couple'].describe()

count    374680.000000
mean          0.041091
std           0.198501
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: unmarried_couple, dtype: float64

In [69]:
# drop MARITAL, marital status, data extracted above
df = df.drop(['MARITAL'], axis=1)

In [70]:
df['RENTHOM1'].isna().sum()

0

In [71]:
# own
df['own_house'] = df['RENTHOM1']
df['own_house'].replace([2,3],0, inplace=True)
df['own_house'].replace([7,9],np.nan, inplace=True)
df['own_house'].describe()

count    374993.000000
mean          0.719595
std           0.449198
min           0.000000
25%           0.000000
50%           1.000000
75%           1.000000
max           1.000000
Name: own_house, dtype: float64

In [72]:
# rent
df['renting'] = df['RENTHOM1']
df['renting'].replace([1,3],0, inplace=True)
df['renting'].replace(2,1, inplace=True)
df['renting'].replace([7,9],np.nan, inplace=True)
df['renting'].describe()

count    374993.000000
mean          0.232999
std           0.422742
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: renting, dtype: float64

In [73]:
# other arrangement
df['other_arrangement_housing'] = df['RENTHOM1']
df['other_arrangement_housing'].replace([1,2],0, inplace=True)
df['other_arrangement_housing'].replace(3,1, inplace=True)
df['other_arrangement_housing'].replace([7,9],np.nan, inplace=True)
df['other_arrangement_housing'].describe()

count    374993.000000
mean          0.047406
std           0.212506
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: other_arrangement_housing, dtype: float64

In [74]:
# drop RENTHOM1, living status, data extracted above
df = df.drop(['RENTHOM1'], axis=1)

In [75]:
df['VETERAN3'].isna().sum()

1

In [76]:
#veteran
df['VETERAN3'].replace(2,0, inplace=True)
df['VETERAN3'].replace([7,9],np.nan, inplace=True)
df['VETERAN3'].describe()

count    377064.000000
mean          0.120441
std           0.325477
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: VETERAN3, dtype: float64

In [77]:
df['EMPLOY1'].isna().sum()

1

In [78]:
# employed for wages
df['employed_for_wages'] = df['EMPLOY1']
df['employed_for_wages'].replace([2,3,4,5,6,7,8],0, inplace=True)
df['employed_for_wages'].replace(9,np.nan, inplace=True)
df['employed_for_wages'].describe()

count    375087.000000
mean          0.435312
std           0.495799
min           0.000000
25%           0.000000
50%           0.000000
75%           1.000000
max           1.000000
Name: employed_for_wages, dtype: float64

In [79]:
# self employed
df['self_employed'] = df['EMPLOY1']
df['self_employed'].replace([1,3,4,5,6,7,8],0, inplace=True)
df['self_employed'].replace(2,1, inplace=True)
df['self_employed'].replace(9,np.nan, inplace=True)
df['self_employed'].describe()

count    375087.000000
mean          0.087572
std           0.282671
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: self_employed, dtype: float64

In [80]:
# Out of work for 1 year or more
df['out_of_work_year_plus'] = df['EMPLOY1']
df['out_of_work_year_plus'].replace([1,2,4,5,6,7,8],0, inplace=True)
df['out_of_work_year_plus'].replace(3,1, inplace=True)
df['out_of_work_year_plus'].replace(9,np.nan, inplace=True)
df['out_of_work_year_plus'].describe()

count    375087.000000
mean          0.025890
std           0.158807
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: out_of_work_year_plus, dtype: float64

In [81]:
# Out of work for less than 1 year
df['out_of_work_year_less'] = df['EMPLOY1']
df['out_of_work_year_less'].replace([1,2,3,5,6,7,8],0, inplace=True)
df['out_of_work_year_less'].replace(4,1, inplace=True)
df['out_of_work_year_less'].replace(9,np.nan, inplace=True)
df['out_of_work_year_less'].describe()

count    375087.000000
mean          0.022293
std           0.147637
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: out_of_work_year_less, dtype: float64

In [82]:
# homemaker
df['homemaker'] = df['EMPLOY1']
df['homemaker'].replace([1,2,3,4,6,7,8],0, inplace=True)
df['homemaker'].replace(5,1, inplace=True)
df['homemaker'].replace(9,np.nan, inplace=True)
df['homemaker'].describe()

count    375087.000000
mean          0.040785
std           0.197793
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: homemaker, dtype: float64

In [83]:
# student
df['student'] = df['EMPLOY1']
df['student'].replace([1,2,3,4,5,7,8],0, inplace=True)
df['student'].replace(6,1, inplace=True)
df['student'].replace(9,np.nan, inplace=True)
df['student'].describe()

count    375087.000000
mean          0.025018
std           0.156181
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: student, dtype: float64

In [84]:
# retired
df['retired'] = df['EMPLOY1']
df['retired'].replace([1,2,3,4,5,6,8],0, inplace=True)
df['retired'].replace(7,1, inplace=True)
df['retired'].replace(9,np.nan, inplace=True)
df['retired'].describe()

count    375087.000000
mean          0.305468
std           0.460606
min           0.000000
25%           0.000000
50%           0.000000
75%           1.000000
max           1.000000
Name: retired, dtype: float64

In [85]:
# unable_to_work
df['unable_to_work'] = df['EMPLOY1']
df['unable_to_work'].replace([1,2,3,4,5,6,7],0, inplace=True)
df['unable_to_work'].replace(8,1, inplace=True)
df['unable_to_work'].replace(9,np.nan, inplace=True)
df['unable_to_work'].describe()

count    375087.000000
mean          0.057661
std           0.233102
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: unable_to_work, dtype: float64

In [86]:
df = df.drop(['EMPLOY1'], axis=1) #data extracted above

In [87]:
df['PREGNANT'].isna().sum()

306381

In [88]:
# PREGNANT
df['PREGNANT'].fillna(0, inplace=True)
df['PREGNANT'].replace(2,0, inplace=True)
df['PREGNANT'].replace([7,9],np.nan, inplace=True)
df['PREGNANT'].describe()

count    377501.000000
mean          0.005597
std           0.074606
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: PREGNANT, dtype: float64

In [89]:
df['DEAF'].isna().sum()

0

In [90]:
# deaf
df['DEAF'].replace(2,0, inplace=True)
df['DEAF'].replace([7,9],np.nan, inplace=True)
df['DEAF'].describe()

count    376790.000000
mean          0.086772
std           0.281502
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: DEAF, dtype: float64

In [91]:
df['BLIND'].isna().sum()

0

In [92]:
# BLIND
df['BLIND'].replace(2,0, inplace=True)
df['BLIND'].replace([7,9],np.nan, inplace=True)
df['BLIND'].describe()

count    376966.000000
mean          0.049920
std           0.217779
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: BLIND, dtype: float64

In [93]:
df['DECIDE'].isna().sum()

0

In [94]:
# difficulty concentrating or remembering
df['DECIDE'].replace(2,0, inplace=True)
df['DECIDE'].replace([7,9],np.nan, inplace=True)
df['DECIDE'].describe()

count    375740.000000
mean          0.108588
std           0.311122
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: DECIDE, dtype: float64

In [95]:
df['DIFFWALK'].isna().sum()

0

In [96]:
#Difficulty Walking or Climbing Stairs
df['DIFFWALK'].replace(2,0, inplace=True)
df['DIFFWALK'].replace([7,9],np.nan, inplace=True)
df['DIFFWALK'].describe()

count    376783.000000
mean          0.157900
std           0.364648
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: DIFFWALK, dtype: float64

In [97]:
df['DIFFDRES'].isna().sum()

0

In [98]:
#Difficulty Walking or Climbing Stairs
df['DIFFDRES'].replace(2,0, inplace=True)
df['DIFFDRES'].replace([7,9],np.nan, inplace=True)
df['DIFFDRES'].describe()

count    377429.000000
mean          0.039274
std           0.194245
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: DIFFDRES, dtype: float64

In [99]:
df['DIFFALON'].isna().sum()

0

In [100]:
# Difficulty Doing Errands Alone
df['DIFFALON'].replace(2,0, inplace=True)
df['DIFFALON'].replace([7,9],np.nan, inplace=True)
df['DIFFALON'].describe()

count    376955.000000
mean          0.072351
std           0.259068
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: DIFFALON, dtype: float64

In [101]:
df['SMOKE100'].isna().sum()

0

In [102]:
# Smoked at Least 100 Cigarettes
df['SMOKE100'].replace(2,0, inplace=True)
df['SMOKE100'].replace([7,9],np.nan, inplace=True)
df['SMOKE100'].describe()

count    375688.000000
mean          0.403066
std           0.490514
min           0.000000
25%           0.000000
50%           0.000000
75%           1.000000
max           1.000000
Name: SMOKE100, dtype: float64

In [103]:
df['SMOKDAY2'].isna().sum()

226453

In [104]:
df['SMOKDAY2'].fillna(0, inplace=True)
df['SMOKDAY2'].replace([7,9],np.nan, inplace=True)

In [105]:
# smoke every day
df['smoke_every_day'] = df['SMOKDAY2']
df['smoke_every_day'] = df['smoke_every_day'].replace([2,3],0)
df['smoke_every_day'].describe()

count    377617.000000
mean          0.092160
std           0.289251
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: smoke_every_day, dtype: float64

In [106]:
# smoke some days
df['smoke_some_days'] = df['SMOKDAY2']
df['smoke_some_days'] = df['smoke_some_days'].replace([1,3],0)
df['smoke_some_days'] = df['smoke_some_days'].replace(2,1)
df['smoke_some_days'].describe()

count    377617.000000
mean          0.035208
std           0.184304
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: smoke_some_days, dtype: float64

In [107]:
# smokes not at all
df['smoke_not_at_all'] = df['SMOKDAY2']
df['smoke_not_at_all'] = df['smoke_not_at_all'].replace([1,2],0)
df['smoke_not_at_all'] = df['smoke_not_at_all'].replace(3,1)
df['smoke_not_at_all'].describe()

count    377617.000000
mean          0.272943
std           0.445472
min           0.000000
25%           0.000000
50%           0.000000
75%           1.000000
max           1.000000
Name: smoke_not_at_all, dtype: float64

In [108]:
df = df.drop(['SMOKDAY2'], axis=1)

In [109]:
df['USENOW3'].isna().sum()

1

In [110]:
df['USENOW3'].replace([7,9],np.nan, inplace=True)

In [111]:
# smokeless every day
df['smokeless_every_day'] = df['USENOW3']
df['smokeless_every_day'] = df['smokeless_every_day'].replace([2,3],0)
df['smokeless_every_day'].describe()

count    377469.000000
mean          0.018356
std           0.134237
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: smokeless_every_day, dtype: float64

In [112]:
# smokeless some days
df['smokeless_some_days'] = df['USENOW3']
df['smokeless_some_days'] = df['smokeless_some_days'].replace([1,3],0)
df['smokeless_some_days'] = df['smokeless_some_days'].replace(2,1)
df['smokeless_some_days'].describe()

count    377469.000000
mean          0.012812
std           0.112461
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: smokeless_some_days, dtype: float64

In [113]:
# smokeless not at all
df['smokeless_not_at_all'] = df['USENOW3']
df['smokeless_not_at_all'] = df['smokeless_not_at_all'].replace([1,2],0)
df['smokeless_not_at_all'] = df['smokeless_not_at_all'].replace(3,1)
df['smokeless_not_at_all'].describe()

count    377469.000000
mean          0.968832
std           0.173772
min           0.000000
25%           1.000000
50%           1.000000
75%           1.000000
max           1.000000
Name: smokeless_not_at_all, dtype: float64

In [114]:
df = df.drop(['USENOW3'], axis=1)

In [115]:
df['ECIGNOW1'].isna().sum()

82

In [116]:
df['ECIGNOW1'].replace([7,9],np.nan, inplace=True)

In [117]:
# ecig every day
df['ecig_every_day'] = df['ECIGNOW1']
df['ecig_every_day'] = df['ecig_every_day'].replace([2,3,4],0)
df['ecig_every_day'].describe()

count    377373.000000
mean          0.021668
std           0.145598
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: ecig_every_day, dtype: float64

In [118]:
# ecig some days
df['ecig_some_days'] = df['ECIGNOW1']
df['ecig_some_days'] = df['ecig_some_days'].replace([1,3,4],0)
df['ecig_some_days'] = df['ecig_some_days'].replace(2,1)
df['ecig_some_days'].describe()

count    377373.000000
mean          0.024467
std           0.154493
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: ecig_some_days, dtype: float64

In [119]:
# ecig not at all
df['ecig_not_at_all'] = df['ECIGNOW1']
df['ecig_not_at_all'] = df['ecig_not_at_all'].replace([1,2,4],0)
df['ecig_not_at_all'] = df['ecig_not_at_all'].replace(3,1)
df['ecig_not_at_all'].describe()

count    377373.000000
mean          0.750597
std           0.432668
min           0.000000
25%           1.000000
50%           1.000000
75%           1.000000
max           1.000000
Name: ecig_not_at_all, dtype: float64

In [120]:
# ecig never used
df['ecig_never_used'] = df['ECIGNOW1']
df['ecig_never_used'] = df['ecig_never_used'].replace([1,2,3],0)
df['ecig_never_used'] = df['ecig_never_used'].replace(4,1)
df['ecig_never_used'].describe()

count    377373.000000
mean          0.203268
std           0.402431
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: ecig_never_used, dtype: float64

In [121]:
df = df.drop(['ECIGNOW1'], axis=1)

In [122]:
df['ALCDAY5'].isna().sum()

0

In [123]:
# Days in past 30 had alcoholic beverage
df.loc[df['ALCDAY5'] < 110, 'ALCDAY5'] = (df.loc[df['ALCDAY5'] < 110, 'ALCDAY5']-100)*4
df.loc[(df['ALCDAY5'] < 231)&(df['ALCDAY5'] > 199), 'ALCDAY5'] -= 200
df['ALCDAY5'] = df['ALCDAY5'].replace(888,0)
df['ALCDAY5'] = df['ALCDAY5'].replace([777,999],np.nan)
df['ALCDAY5'].describe()

count    373876.000000
mean          4.843534
std           8.080738
min           0.000000
25%           0.000000
50%           1.000000
75%           5.000000
max          30.000000
Name: ALCDAY5, dtype: float64

In [124]:
df['AVEDRNK3'].isna().sum()

182421

In [125]:
df.loc[df['ALCDAY5'] == 0, 'AVEDRNK3'] = 0 # if alcday5 was 0 then avedrink is 0

In [126]:
df['AVEDRNK3'].isna().sum()

4007

In [127]:
# Avg alcoholic drinks per day in past 30
df['AVEDRNK3'].replace(88, 0, inplace=True)
df['AVEDRNK3'].replace([77,99], np.nan, inplace=True)
df['AVEDRNK3'].describe()

count    371209.000000
mean          1.150955
std           2.044765
min           0.000000
25%           0.000000
50%           1.000000
75%           2.000000
max          76.000000
Name: AVEDRNK3, dtype: float64

In [128]:
df['DRNK3GE5'].isna().sum()

182423

In [129]:
df.loc[df['ALCDAY5'] == 0, 'DRNK3GE5'] = 0 # if alcday5 was 0 then DRNK3GE5 is 0

In [130]:
df['DRNK3GE5'].isna().sum()

4009

In [131]:
# binge drinking
df['DRNK3GE5'].replace(88, 0, inplace=True)
df['DRNK3GE5'].replace([77,99], np.nan, inplace=True)
df['DRNK3GE5'].describe()

count    371422.000000
mean          0.629893
std           2.914485
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max          76.000000
Name: DRNK3GE5, dtype: float64

In [132]:
df['MAXDRNKS'].isna().sum()

182423

In [133]:
df.loc[df['ALCDAY5'] == 0, 'MAXDRNKS'] = 0 # if alcday5 was 0 then MAXDRNKS is 0
df['MAXDRNKS'].isna().sum()

4009

In [134]:
# max drinks on a single occassion
df['MAXDRNKS'].replace([77,99], np.nan, inplace=True)
df['MAXDRNKS'].describe()

count    367972.000000
mean          1.688732
std           2.895279
min           0.000000
25%           0.000000
50%           1.000000
75%           2.000000
max          76.000000
Name: MAXDRNKS, dtype: float64

In [135]:
df['FLUSHOT7'].isna().sum()

0

In [136]:
# adult flu shot/spray past 12 months
df['FLUSHOT7'].replace(2, 0, inplace=True)
df['FLUSHOT7'].replace([7,9],np.nan, inplace=True)
df['FLUSHOT7'].describe()

count    375138.000000
mean          0.523775
std           0.499435
min           0.000000
25%           0.000000
50%           1.000000
75%           1.000000
max           1.000000
Name: FLUSHOT7, dtype: float64

In [137]:
# drop FLSHTMY3, when received flu shot, too much based on specific years and will change as time passes a lot
df = df.drop(['FLSHTMY3'], axis=1)

In [138]:
df['PNEUVAC4'].isna().sum()

1

In [139]:
# adult flu shot/spray past 12 months
df['PNEUVAC4'].replace(2, 0, inplace=True)
df['PNEUVAC4'].replace([7,9],np.nan, inplace=True)
df['PNEUVAC4'].describe()

count    347640.000000
mean          0.403282
std           0.490557
min           0.000000
25%           0.000000
50%           0.000000
75%           1.000000
max           1.000000
Name: PNEUVAC4, dtype: float64

In [140]:
df['HIVTST7'].isna().sum()

0

In [141]:
# Ever tested for HIV
df['HIVTST7'].replace(2, 0, inplace=True)
df['HIVTST7'].replace([7,9],np.nan, inplace=True)
df['HIVTST7'].describe()

count    358728.000000
mean          0.335176
std           0.472053
min           0.000000
25%           0.000000
50%           0.000000
75%           1.000000
max           1.000000
Name: HIVTST7, dtype: float64

In [142]:
df['PDIABTST'].isna().sum()

277516

In [143]:
# drop PDIABTST, had test for blood sugar, conditional question not asked if told had diabetes
df = df.drop(['PDIABTST'], axis=1)

In [144]:
# drop INSULIN1, taking insulin, conditional question not asked if told had diabetes
df = df.drop(['INSULIN1'], axis=1)

In [145]:
# do you live in a metropolitan area
df['_METSTAT'].replace(2, 0, inplace=True)
df['_METSTAT'].describe()

count    371494.000000
mean          0.693263
std           0.461140
min           0.000000
25%           0.000000
50%           1.000000
75%           1.000000
max           1.000000
Name: _METSTAT, dtype: float64

In [146]:
# do you live in a urban area
df['_URBSTAT'].replace(2, 0, inplace=True)
df['_URBSTAT'].describe()

count    371494.000000
mean          0.854633
std           0.352471
min           0.000000
25%           1.000000
50%           1.000000
75%           1.000000
max           1.000000
Name: _URBSTAT, dtype: float64

In [147]:
# white, non-hispanic
df['white'] = df['_IMPRACE']
df['white'].replace(range(2,7), 0, inplace=True)
df['white'].describe()

count    377880.000000
mean          0.766458
std           0.423085
min           0.000000
25%           1.000000
50%           1.000000
75%           1.000000
max           1.000000
Name: white, dtype: float64

In [148]:
# black, non-hispanic
df['black'] = df['_IMPRACE']
df['black'].replace([1,3,4,5,6], 0, inplace=True)
df['black'].replace(2, 1, inplace=True)
df['black'].describe()

count    377880.000000
mean          0.070504
std           0.255995
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: black, dtype: float64

In [149]:
# Asian, non-hispanic
df['asian'] = df['_IMPRACE']
df['asian'].replace([1,2,4,5,6], 0, inplace=True)
df['asian'].replace(3, 1, inplace=True)
df['asian'].describe()

count    377880.000000
mean          0.025664
std           0.158132
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: asian, dtype: float64

In [150]:
# Native, non-hispanic
df['native'] = df['_IMPRACE']
df['native'].replace([1,2,3,5,6], 0, inplace=True)
df['native'].replace(4, 1, inplace=True)
df['native'].describe()

count    377880.000000
mean          0.016309
std           0.126663
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: native, dtype: float64

In [151]:
# Hispanic
df['hispanic'] = df['_IMPRACE']
df['hispanic'].replace([1,2,3,4,6], 0, inplace=True)
df['hispanic'].replace(5, 1, inplace=True)
df['hispanic'].describe()

count    377880.000000
mean          0.086075
std           0.280475
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: hispanic, dtype: float64

In [152]:
df = df.drop(['_IMPRACE'], axis=1) # data extracted above

In [153]:
df['_HLTHPLN'].isna().sum()

0

In [154]:
# health insurance
df['_HLTHPLN'].replace(2, 0, inplace=True)
df['_HLTHPLN'].replace(9,np.nan, inplace=True)
df['_HLTHPLN'].describe()

count    365333.000000
mean          0.947470
std           0.223094
min           0.000000
25%           1.000000
50%           1.000000
75%           1.000000
max           1.000000
Name: _HLTHPLN, dtype: float64

In [155]:
df['_AGE80'].isna().sum()

0

In [156]:
# age
df['_AGE80'].describe()

count    377880.000000
mean         54.709617
std          17.488837
min          18.000000
25%          41.000000
50%          57.000000
75%          69.000000
max          80.000000
Name: _AGE80, dtype: float64

In [157]:
df['HTIN4'].isna().sum()

9909

In [158]:
# height in inches
df['HTIN4'].describe()

count    367971.000000
mean         67.049903
std           4.177907
min          36.000000
25%          64.000000
50%          67.000000
75%          70.000000
max          95.000000
Name: HTIN4, dtype: float64

In [159]:
df['WTKG3'].isna().sum()

21273

In [160]:
# weight in kilograms
df['WTKG3'] /= 100
df['WTKG3'].describe()

count    356607.000000
mean         83.273755
std          21.411565
min          22.680000
25%          68.040000
50%          81.190000
75%          95.250000
max         293.020000
Name: WTKG3, dtype: float64

In [161]:
df['_EDUCAG'].isna().sum()

0

In [162]:
df['_EDUCAG'].replace(9,np.nan,inplace=True)
df['_EDUCAG'].isna().sum()

1346

In [163]:
# Did not graduate High School
df['not_graduate_high_school'] = df['_EDUCAG']
df['not_graduate_high_school'].replace([2,3,4], 0, inplace=True)
df['not_graduate_high_school'].describe()

count    376534.000000
mean          0.054301
std           0.226610
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: not_graduate_high_school, dtype: float64

In [164]:
# Graduated High School
df['graduated_high_school'] = df['_EDUCAG']
df['graduated_high_school'].replace([1,3,4], 0, inplace=True)
df['graduated_high_school'].replace(2, 1, inplace=True)
df['graduated_high_school'].describe()

count    376534.000000
mean          0.246910
std           0.431214
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: graduated_high_school, dtype: float64

In [165]:
# Attended College or Technical School
df['attended_college'] = df['_EDUCAG']
df['attended_college'].replace([1,2,4], 0, inplace=True)
df['attended_college'].replace(3, 1, inplace=True)
df['attended_college'].describe()

count    376534.000000
mean          0.277404
std           0.447718
min           0.000000
25%           0.000000
50%           0.000000
75%           1.000000
max           1.000000
Name: attended_college, dtype: float64

In [166]:
# Graduated from College
df['graduated_college'] = df['_EDUCAG']
df['graduated_college'].replace([1,2,3], 0, inplace=True)
df['graduated_college'].replace(4, 1, inplace=True)
df['graduated_college'].describe()

count    376534.000000
mean          0.421386
std           0.493782
min           0.000000
25%           0.000000
50%           0.000000
75%           1.000000
max           1.000000
Name: graduated_college, dtype: float64

In [167]:
df = df.drop(['_EDUCAG'], axis=1) # data extracted above

In [168]:
df['_INCOMG1'].isna().sum()

0

In [169]:
df['_INCOMG1'].replace(9,np.nan, inplace=True)
df['_INCOMG1'].describe()

count    310561.000000
mean          4.371444
std           1.604624
min           1.000000
25%           3.000000
50%           5.000000
75%           6.000000
max           7.000000
Name: _INCOMG1, dtype: float64

In [170]:
df['FTJUDA2_'].isna().sum()

4349

In [171]:
#fruit juice intake in times per day
df['FTJUDA2_'] /= 100
df['FTJUDA2_'].round(2)
df['FTJUDA2_'].describe()

count    3.735310e+05
mean     4.362214e-01
std      3.576845e+00
min      5.397605e-81
25%      5.397605e-81
50%      3.000000e-02
75%      2.900000e-01
max      9.900000e+01
Name: FTJUDA2_, dtype: float64

In [172]:
df['FRUTDA2_'].isna().sum()

4676

In [173]:
# Fruit intake in times per day
df['FRUTDA2_'] /= 100
df['FRUTDA2_'].round(2)
df['FRUTDA2_'].describe()

count    3.732040e+05
mean     1.334253e+00
std      4.913100e+00
min      5.397605e-81
25%      4.300000e-01
50%      1.000000e+00
75%      1.000000e+00
max      9.900000e+01
Name: FRUTDA2_, dtype: float64

In [174]:
df['GRENDA1_'].isna().sum()

0

In [175]:
# Dark Green Vegetable intake in times per day
df['GRENDA1_'] /= 100
df['GRENDA1_'].round(2)
df['GRENDA1_'].describe()

count    3.778800e+05
mean     7.894822e-01
std      4.633036e+00
min      5.397605e-81
25%      1.400000e-01
50%      4.300000e-01
75%      7.100000e-01
max      9.900000e+01
Name: GRENDA1_, dtype: float64

In [176]:
df['FRNCHDA_'].isna().sum()

0

In [177]:
# French Fry intake in times per day
df['FRNCHDA_'] /= 100
df['FRNCHDA_'].round(2)
df['FRNCHDA_'].describe()

count    3.778800e+05
mean     2.527462e-01
std      1.656265e+00
min      5.397605e-81
25%      3.000000e-02
50%      1.400000e-01
75%      2.900000e-01
max      9.900000e+01
Name: FRNCHDA_, dtype: float64

In [178]:
df['POTADA1_'].isna().sum()

0

In [179]:
# Potato Servings per day
df['POTADA1_'] /= 100
df['POTADA1_'].round(2)
df['POTADA1_'].describe()

count    3.778800e+05
mean     2.838135e-01
std      1.777598e+00
min      5.397605e-81
25%      7.000000e-02
50%      1.400000e-01
75%      2.900000e-01
max      9.900000e+01
Name: POTADA1_, dtype: float64

In [180]:
df['VEGEDA2_'].isna().sum()

0

In [181]:
# Other Vegetable intake in times per day
df['VEGEDA2_'] /= 100
df['VEGEDA2_'].round(2)
df['VEGEDA2_'].describe()

count    3.778800e+05
mean     1.388093e+00
std      6.451475e+00
min      5.397605e-81
25%      4.300000e-01
50%      9.300000e-01
75%      1.000000e+00
max      9.900000e+01
Name: VEGEDA2_, dtype: float64

In [182]:
# remove colums containing string values

print("No. of columns containing null values")
print(len(df.columns[df.isna().any()]))

print("No. of columns not containing null values")
print(len(df.columns[df.notna().all()]))

print("Total no. of columns in the dataframe")
print(len(df.columns))

#df = df.dropna(axis=1)
#df.shape

No. of columns containing null values
81
No. of columns not containing null values
17
Total no. of columns in the dataframe
98

In [183]:
df.columns

Index(['Unnamed: 0.1', 'Unnamed: 0', 'SEXVAR', 'GENHLTH', 'PHYSHLTH',
       'MENTHLTH', 'POORHLTH', 'PERSDOC3', 'MEDCOST1', 'CHECKUP1', 'EXERANY2',
       'BPMEDS', 'TOLDHI3', 'CHOLMED3', 'CVDINFR4', 'CVDCRHD4', 'CVDSTRK3',
       'ASTHMA3', 'ASTHNOW', 'CHCSCNCR', 'CHCOCNCR', 'CHCCOPD3', 'ADDEPEV3',
       'CHCKDNY2', 'DIABETE4', 'HAVARTH5', 'VETERAN3', 'PREGNANT', 'DEAF',
       'BLIND', 'DECIDE', 'DIFFWALK', 'DIFFDRES', 'DIFFALON', 'SMOKE100',
       'ALCDAY5', 'AVEDRNK3', 'DRNK3GE5', 'MAXDRNKS', 'FLUSHOT7', 'PNEUVAC4',
       'HIVTST7', '_METSTAT', '_URBSTAT', '_WT2RAKE', '_PHYS14D', '_HLTHPLN',
       '_AGE80', 'HTIN4', 'WTKG3', '_INCOMG1', 'FTJUDA2_', 'FRUTDA2_',
       'GRENDA1_', 'FRNCHDA_', 'POTADA1_', 'VEGEDA2_', '_MISFRT1',
       'high_blood_pressure', 'pregnant_high_blood_pressure',
       'borderline_high_blood_pressure', 'cholesterol_checked_within_year',
       'married', 'divorced', 'widowed', 'separated', 'never_married',
       'unmarried_couple', 'own_house', 'renting', 'other_arrangement_housing',
       'employed_for_wages', 'self_employed', 'out_of_work_year_plus',
       'out_of_work_year_less', 'homemaker', 'student', 'retired',
       'unable_to_work', 'smoke_every_day', 'smoke_some_days',
       'smoke_not_at_all', 'smokeless_every_day', 'smokeless_some_days',
       'smokeless_not_at_all', 'ecig_every_day', 'ecig_some_days',
       'ecig_not_at_all', 'ecig_never_used', 'white', 'black', 'asian',
       'native', 'hispanic', 'not_graduate_high_school',
       'graduated_high_school', 'attended_college', 'graduated_college'],
      dtype='object')

In [184]:
df = df.drop(df.columns[0:2],axis = 1)

In [185]:
df.columns

Index(['SEXVAR', 'GENHLTH', 'PHYSHLTH', 'MENTHLTH', 'POORHLTH', 'PERSDOC3',
       'MEDCOST1', 'CHECKUP1', 'EXERANY2', 'BPMEDS', 'TOLDHI3', 'CHOLMED3',
       'CVDINFR4', 'CVDCRHD4', 'CVDSTRK3', 'ASTHMA3', 'ASTHNOW', 'CHCSCNCR',
       'CHCOCNCR', 'CHCCOPD3', 'ADDEPEV3', 'CHCKDNY2', 'DIABETE4', 'HAVARTH5',
       'VETERAN3', 'PREGNANT', 'DEAF', 'BLIND', 'DECIDE', 'DIFFWALK',
       'DIFFDRES', 'DIFFALON', 'SMOKE100', 'ALCDAY5', 'AVEDRNK3', 'DRNK3GE5',
       'MAXDRNKS', 'FLUSHOT7', 'PNEUVAC4', 'HIVTST7', '_METSTAT', '_URBSTAT',
       '_WT2RAKE', '_PHYS14D', '_HLTHPLN', '_AGE80', 'HTIN4', 'WTKG3',
       '_INCOMG1', 'FTJUDA2_', 'FRUTDA2_', 'GRENDA1_', 'FRNCHDA_', 'POTADA1_',
       'VEGEDA2_', '_MISFRT1', 'high_blood_pressure',
       'pregnant_high_blood_pressure', 'borderline_high_blood_pressure',
       'cholesterol_checked_within_year', 'married', 'divorced', 'widowed',
       'separated', 'never_married', 'unmarried_couple', 'own_house',
       'renting', 'other_arrangement_housing', 'employed_for_wages',
       'self_employed', 'out_of_work_year_plus', 'out_of_work_year_less',
       'homemaker', 'student', 'retired', 'unable_to_work', 'smoke_every_day',
       'smoke_some_days', 'smoke_not_at_all', 'smokeless_every_day',
       'smokeless_some_days', 'smokeless_not_at_all', 'ecig_every_day',
       'ecig_some_days', 'ecig_not_at_all', 'ecig_never_used', 'white',
       'black', 'asian', 'native', 'hispanic', 'not_graduate_high_school',
       'graduated_high_school', 'attended_college', 'graduated_college'],
      dtype='object')

In [186]:
# Get names of columns with missing values
cols_with_missing = [col for col in df.columns
                     if df[col].isnull().any()]


df_mis = df.copy()

for col in cols_with_missing:
    df_mis[col + '_was_missing'] = df_mis[col].isnull()
df_mis.describe()

,SEXVAR,GENHLTH,PHYSHLTH,MENTHLTH,POORHLTH,PERSDOC3,MEDCOST1,CHECKUP1,EXERANY2,BPMEDS,...,ecig_never_used,white,black,asian,native,hispanic,not_graduate_high_school,graduated_high_school,attended_college,graduated_college
count,377880.000000,377880.000000,371439.000000,372553.000000,374393.000000,375303.000000,377020.000000,373877.000000,377345.000000,377549.000000,...,377373.000000,377880.000000,377880.000000,377880.000000,377880.000000,377880.000000,376534.000000,376534.000000,376534.000000,376534.000000
mean,0.538470,1.502662,3.776157,4.125131,2.742533,0.883156,0.073198,0.778128,0.763654,0.325791,...,0.203268,0.766458,0.070504,0.025664,0.016309,0.086075,0.054301,0.246910,0.277404,0.421386
std,0.498519,1.043368,8.303671,8.133648,7.011285,0.321235,0.260461,0.415506,0.424838,0.468670,...,0.402431,0.423085,0.255995,0.158132,0.126663,0.280475,0.226610,0.431214,0.447718,0.493782
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,1.000000,0.000000,...,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,1.000000,0.000000,...,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,1.000000,2.000000,2.000000,4.000000,0.000000,1.000000,0.000000,1.000000,1.000000,1.000000,...,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000
max,1.000000,4.000000,30.000000,30.000000,30.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [187]:
df_mis.columns

Index(['SEXVAR', 'GENHLTH', 'PHYSHLTH', 'MENTHLTH', 'POORHLTH', 'PERSDOC3',
       'MEDCOST1', 'CHECKUP1', 'EXERANY2', 'BPMEDS',
       ...
       'smokeless_some_days_was_missing', 'smokeless_not_at_all_was_missing',
       'ecig_every_day_was_missing', 'ecig_some_days_was_missing',
       'ecig_not_at_all_was_missing', 'ecig_never_used_was_missing',
       'not_graduate_high_school_was_missing',
       'graduated_high_school_was_missing', 'attended_college_was_missing',
       'graduated_college_was_missing'],
      dtype='object', length=177)

# Removing duplicate was_missing columns from one hot encoding

In [ ]:
from itertools import combinations

#detect duplicate columns
[(i, j) for i,j in combinations(df_mis, 2) if df_mis[i].equals(df_mis[j])]

In [ ]:
df_mis['_METSTAT_and_URBSTAT_was_missing'] = df_mis['_METSTAT_was_missing']
df_mis = df_mis.drop(['_METSTAT_was_missing', '_URBSTAT_was_missing'], axis=1)

In [ ]:
df_mis['BPHIGH6_was_missing'] = df_mis['high_blood_pressure_was_missing']
df_mis = df_mis.drop(['high_blood_pressure_was_missing', 'pregnant_high_blood_pressure_was_missing',
             'borderline_high_blood_pressure_was_missing'], axis=1)

In [ ]:
df_mis['MARITAL_was_missing'] = df_mis['married_was_missing']
df_mis = df_mis.drop(['married_was_missing', 'divorced_was_missing',
             'separated_was_missing', 'widowed_was_missing', 'never_married_was_missing',
             'unmarried_couple_was_missing'], axis=1)

In [ ]:
df_mis['RENTHOM1_was_missing'] = df_mis['own_house_was_missing']
df_mis = df_mis.drop(['own_house_was_missing', 'renting_was_missing',
             'other_arrangement_housing_was_missing'], axis=1)

In [ ]:
df_mis['EMPLOY1_was_missing'] = df_mis['employed_for_wages_was_missing']
df_mis = df_mis.drop(['employed_for_wages_was_missing', 'self_employed_was_missing',
             'out_of_work_year_plus_was_missing', 'out_of_work_year_less_was_missing',
             'homemaker_was_missing', 'student_was_missing', 'retired_was_missing',
             'unable_to_work_was_missing'], axis=1)

In [ ]:
df_mis['SMOKDAY2_was_missing'] = df_mis['smoke_every_day_was_missing']
df_mis = df_mis.drop(['smoke_every_day_was_missing', 'smoke_some_days_was_missing',
             'smoke_not_at_all_was_missing'], axis=1)

In [ ]:
df_mis['USENOW3_was_missing'] = df_mis['smokeless_every_day_was_missing']
df_mis = df_mis.drop(['smokeless_every_day_was_missing', 'smokeless_some_days_was_missing',
             'smokeless_not_at_all_was_missing'], axis=1)

In [ ]:
df_mis['ECIGNOW1_was_missing'] = df_mis['ecig_every_day_was_missing']
df_mis = df_mis.drop(['ecig_every_day_was_missing', 'ecig_some_days_was_missing',
             'ecig_not_at_all_was_missing', 'ecig_never_used_was_missing'], axis=1)

In [ ]:
df_mis['_EDUCAG_was_missing'] = df_mis['not_graduate_high_school_was_missing']
df_mis = df_mis.drop(['not_graduate_high_school_was_missing', 'graduated_high_school_was_missing',
             'attended_college_was_missing', 'graduated_college_was_missing'], axis=1)

In [ ]:
[(i, j) for i,j in combinations(df_mis, 2) if df_mis[i].equals(df_mis[j])]

In [188]:
df_mis.to_csv('./data/brfss_clean.csv')

In [189]:
# imputation
#from sklearn.impute import SimpleImputer

#df_imputer = SimpleImputer()
#imputed_df = pd.DataFrame(df_imputer.fit_transform(df_mis))

#iterative imputer
#imputed_df.columns = df_mis.columns
#from fancyimpute import IterativeImputer

#imputed_df = IterativeImputer().fit_transform(df_mis)

#KNN
#from fancyimpute import KNN

#imputed_df = KNN(k=3).fit_transform(df_mis)

#from sklearn.impute import KNNImputer

#imputed_df = KNNImputer(n_neighbors=1).fit_transform(df_mis)

#imputed_df.describe()

In [190]:
# remove colums containing string values

#print("No. of columns containing null values")
#print(len(imputed_df.columns[imputed_df.isna().any()]))

#print("No. of columns not containing null values")
#print(len(imputed_df.columns[imputed_df.notna().all()]))

#print("Total no. of columns in the dataframe")
#print(len(imputed_df.columns))

#df = df.dropna(axis=1)
#df.shape

No. of columns containing null values

NameError: name 'imputed_df' is not defined

In [ ]:
#imputed_df.to_csv('./data/brfss_imputed.csv')