In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

import warnings

warnings.simplefilter(action='ignore', category=pd.errors.PerformanceWarning)

In [2]:
df = pd.read_sas('./data/LLCP2021.XPT')

In [3]:
# drop s0q1, interview state
# drop s0q8, file month
# drop s0q9, interview date
# drop s0q10, interview month
# drop s0q11, interview day
# drop s0q12, interview year
# drop s0q14, final disposition, can use for dropping partial interviews
# drop s0q15, annual sequence number
# drop s0q16, primary sampling unit

In [4]:
df = df[df.CTELENM1 != 2] # s0q1, dropping incorrect phone numbers

In [5]:
# drop s0q1, correct telephone number
# drop s0q2, private residence
# drop s0q3, college housing
# drop s0q4, resident of state
# drop s0q5, cellular telephone
# drop s0q6, 18 or older
# drop s0q7, college male or female
# drop s0q8, number af adults in household
# drop s0q9, landline sex
# drop s0q10, number of adult men in household
# drop s0q11, number of adult women in household
# drop s0q12, respondent selection
# drop s0q1, safe time to talk
# drop s0q2, correct phone number
# drop s0q3, is this a cell phone
# drop s0q4, 18 years or older cell phone
# drop s0q5, cell phone male or female
# drop s0q6, private residence cell phone
# drop s0q7, cell phone college housing
# drop s0q8, cell phone state confirmation
# drop s0q10, do you have a landline as well
# drop s0q11, number of adults in household

In [6]:
df = df.drop(['_STATE', 'FMONTH', 'IDATE', 'IMONTH', 'IDAY', 'IYEAR', 'SEQNO', 'DISPCODE', '_PSU', 'CTELENM1', 
                'PVTRESD1', 'COLGHOUS', 'STATERE1', 'CELPHON1', 'LADULT1','COLGSEX', 'NUMADULT', 'LANDSEX', 'NUMMEN', 
              'NUMWOMEN', 'RESPSLCT', 'SAFETIME', 'CTELNUM1', 'CELLFON5',
               'CADULT1','CELLSEX', 'PVTRESD3', 'CCLGHOUS', 'CSTATE1', 'LANDLINE', 'HHADULT'], axis=1)

In [7]:
pd.isna(df["SEXVAR"]).value_counts() # no nans

False    438691
Name: SEXVAR, dtype: int64

In [8]:
df = df[df['GENHLTH'] != 7]
df = df[df['GENHLTH'] != 9]

In [9]:
df['GENHLTH'] = df['GENHLTH'].replace(1,0)
df['GENHLTH'] = df['GENHLTH'].replace(2,1)
df['GENHLTH'] = df['GENHLTH'].replace(3,2)
df['GENHLTH'] = df['GENHLTH'].replace(4,3)
df['GENHLTH'] = df['GENHLTH'].replace(5,4)

In [10]:
df = df.dropna(subset=['GENHLTH'])

In [11]:
df["GENHLTH"].value_counts()

1.0    149110
2.0    137938
0.0     77741
3.0     54736
4.0     18005
Name: GENHLTH, dtype: int64

In [12]:
df['unk_PHYSHLTH'] = df['PHYSHLTH']
df['unk_PHYSHLTH'] = df['unk_PHYSHLTH'].replace(range(1,31), 0)
df['unk_PHYSHLTH'] = df['unk_PHYSHLTH'].replace(88, 0)
df['unk_PHYSHLTH'] = df['unk_PHYSHLTH'].replace(99, 1)
df['unk_PHYSHLTH'] = df['unk_PHYSHLTH'].replace(77, 1)
df['unk_PHYSHLTH'] = df['unk_PHYSHLTH'].fillna(1)
df['unk_PHYSHLTH'].describe()

count    437530.000000
mean          0.020952
std           0.143223
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: unk_PHYSHLTH, dtype: float64

In [13]:
df['PHYSHLTH'] = df['PHYSHLTH'].replace(88,0)
df['PHYSHLTH'] = df['PHYSHLTH'].replace(77,0)
df['PHYSHLTH'] = df['PHYSHLTH'].replace(99,0)
df['PHYSHLTH'] = df['PHYSHLTH'].fillna(0)
df['PHYSHLTH'].describe()

count    437530.000000
mean          3.706816
std           8.272157
min           0.000000
25%           0.000000
50%           0.000000
75%           2.000000
max          30.000000
Name: PHYSHLTH, dtype: float64

In [14]:
df['unk_MENTHLTH'] = df['MENTHLTH']
df['unk_MENTHLTH'] = df['unk_MENTHLTH'].replace(range(1,31), 0)
df['unk_MENTHLTH'] = df['unk_MENTHLTH'].replace(88, 0)
df['unk_MENTHLTH'] = df['unk_MENTHLTH'].replace(99, 1)
df['unk_MENTHLTH'] = df['unk_MENTHLTH'].replace(77, 1)
df['unk_MENTHLTH'] = df['unk_MENTHLTH'].fillna(1)
df['unk_MENTHLTH'].describe()

count    437530.000000
mean          0.017562
std           0.131354
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: unk_MENTHLTH, dtype: float64

In [15]:
df['MENTHLTH'] = df['MENTHLTH'].replace(88,0)
df['MENTHLTH'] = df['MENTHLTH'].replace(77,0)
df['MENTHLTH'] = df['MENTHLTH'].replace(99,0)
df['MENTHLTH'] = df['MENTHLTH'].fillna(0)
df['MENTHLTH'].describe()

count    437530.000000
mean          4.028000
std           8.104612
min           0.000000
25%           0.000000
50%           0.000000
75%           3.000000
max          30.000000
Name: MENTHLTH, dtype: float64

In [16]:
df['unk_POORHLTH'] = df['POORHLTH']
df['unk_POORHLTH'] = df['unk_POORHLTH'].replace(range(1,31), 0)
df['unk_POORHLTH'] = df['unk_POORHLTH'].replace(88, 0)
df['unk_POORHLTH'] = df['unk_POORHLTH'].replace(99, 1)
df['unk_POORHLTH'] = df['unk_POORHLTH'].replace(77, 1)
df['unk_POORHLTH'] = df['unk_POORHLTH'].fillna(0)
df['unk_POORHLTH'].describe()

count    437530.000000
mean          0.011638
std           0.107250
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: unk_POORHLTH, dtype: float64

In [17]:
df['POORHLTH'] = df['POORHLTH'].replace(88,0)
df['POORHLTH'] = df['POORHLTH'].replace(77,0)
df['POORHLTH'] = df['POORHLTH'].replace(99,0)
df['POORHLTH'] = df['POORHLTH'].fillna(0)
df['POORHLTH'].describe()

count    437530.000000
mean          2.703236
std           7.002981
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max          30.000000
Name: POORHLTH, dtype: float64

In [18]:
# drop s3q1:PRIMINSR, health care access, _EDUCAG is a better metric
df = df.drop(['PRIMINSR'], axis=1)

In [19]:
df['unk_has_doc'] = df['PERSDOC3']
df['unk_has_doc'] = df['unk_has_doc'].replace([1,2,3],0)
df['unk_has_doc'] = df['unk_has_doc'].replace([7,9],1)
df['unk_has_doc'] = df['unk_has_doc'].fillna(1)
df['unk_has_doc'].describe()

count    437530.000000
mean          0.008281
std           0.090620
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: unk_has_doc, dtype: float64

In [20]:
# has a personal doctor
df['has_doc'] = df['PERSDOC3']
df.drop(columns=['PERSDOC3'])
df['has_doc'] = df['has_doc'].replace(2,1)
df['has_doc'] = df['has_doc'].replace(3,0)
df['has_doc'] = df['has_doc'].replace(7,0)
df['has_doc'] = df['has_doc'].replace(9,0)
df = df.dropna(subset=['has_doc'])
df['has_doc'].describe()

count    437529.000000
mean          0.871709
std           0.334414
min           0.000000
25%           1.000000
50%           1.000000
75%           1.000000
max           1.000000
Name: has_doc, dtype: float64

In [21]:
df['unk_MEDCOST1'] = df['MEDCOST1']
df['unk_MEDCOST1'] = df['unk_MEDCOST1'].replace([1,2],0)
df['unk_MEDCOST1'] = df['unk_MEDCOST1'].replace([7,9],1)
df['unk_MEDCOST1'] = df['unk_MEDCOST1'].fillna(1)
df['unk_MEDCOST1'].describe()

count    437529.000000
mean          0.002944
std           0.054177
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: unk_MEDCOST1, dtype: float64

In [22]:
df['MEDCOST1'] = df['MEDCOST1'].replace(2,0)
df['MEDCOST1'] = df['MEDCOST1'].replace(7,0)
df['MEDCOST1'] = df['MEDCOST1'].replace(9,0)
df = df.dropna(subset=['MEDCOST1'])
df['MEDCOST1'].describe()

count    437526.000000
mean          0.074121
std           0.261969
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: MEDCOST1, dtype: float64

In [23]:
df['unk_past_year'] = df['CHECKUP1']
df['unk_past_year'] = df['unk_past_year'].replace([1,2,3,4,8],0)
df['unk_past_year'] = df['unk_past_year'].replace([7,9],1)
df['unk_past_year'] = df['unk_past_year'].fillna(1)
df['unk_past_year'].describe()

count    437526.000000
mean          0.013213
std           0.114186
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: unk_past_year, dtype: float64

In [24]:
# within past year
df['past_year'] = df['CHECKUP1']
df.drop(columns=['CHECKUP1'])
df['past_year'] = df['past_year'].replace(2,0)
df['past_year'] = df['past_year'].replace(3,0)
df['past_year'] = df['past_year'].replace(4,0)
df['past_year'] = df['past_year'].replace(7,0)
df['past_year'] = df['past_year'].replace(8,0)
df['past_year'] = df['past_year'].replace(9,1)
df = df.dropna(subset=['past_year'])
df['past_year'].describe()

count    437526.000000
mean          0.770430
std           0.420557
min           0.000000
25%           1.000000
50%           1.000000
75%           1.000000
max           1.000000
Name: past_year, dtype: float64

In [25]:
df['unk_EXERANY2'] = df['EXERANY2']
df['unk_EXERANY2'] = df['unk_EXERANY2'].replace([1,2],0)
df['unk_EXERANY2'] = df['unk_EXERANY2'].replace([7,9],1)
df['unk_EXERANY2'] = df['unk_EXERANY2'].fillna(1)
df['unk_EXERANY2'].describe()

count    437526.000000
mean          0.001993
std           0.044599
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: unk_EXERANY2, dtype: float64

In [26]:
# physical activity other than job
df = df.dropna(subset=['EXERANY2'])
df['EXERANY2'] = df['EXERANY2'].replace(2,0)
df = df[df['EXERANY2'] != 7]
df = df[df['EXERANY2'] != 9]
df['EXERANY2'].describe()

count    436654.000000
mean          0.755896
std           0.429555
min           0.000000
25%           1.000000
50%           1.000000
75%           1.000000
max           1.000000
Name: EXERANY2, dtype: float64

In [27]:
df['unk_high_blood_pressure'] = df['BPHIGH6']
df['unk_high_blood_pressure'] = df['unk_high_blood_pressure'].replace([1,2,3,4],0)
df['unk_high_blood_pressure'] = df['unk_high_blood_pressure'].replace([7,9],1)
df['unk_high_blood_pressure'] = df['unk_high_blood_pressure'].fillna(1)
df['unk_high_blood_pressure'].describe()

count    436654.000000
mean          0.004003
std           0.063144
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: unk_high_blood_pressure, dtype: float64

In [28]:
# high blood pressure
df['high_blood_pressure'] = df['BPHIGH6']
df['high_blood_pressure'] = df['high_blood_pressure'].replace(2,1)
df['high_blood_pressure'] = df['high_blood_pressure'].replace(3,0)
df['high_blood_pressure'] = df['high_blood_pressure'].replace(4,1)
df['high_blood_pressure'] = df['high_blood_pressure'].replace(7,0)
df['high_blood_pressure'] = df['high_blood_pressure'].replace(9,0)
df = df.dropna(subset=['high_blood_pressure'])
df['high_blood_pressure'].describe()

count    436654.000000
mean          0.410442
std           0.491914
min           0.000000
25%           0.000000
50%           0.000000
75%           1.000000
max           1.000000
Name: high_blood_pressure, dtype: float64

In [29]:
# pregnant high blood pressure
df['pregnant_high_blood_pressure'] = df['BPHIGH6']
df.drop(columns=['BPHIGH6'])
df['pregnant_high_blood_pressure'] = df['pregnant_high_blood_pressure'].replace(1,0)
df['pregnant_high_blood_pressure'] = df['pregnant_high_blood_pressure'].replace(2,1)
df['pregnant_high_blood_pressure'] = df['pregnant_high_blood_pressure'].replace(3,0)
df['pregnant_high_blood_pressure'] = df['pregnant_high_blood_pressure'].replace(4,0)
df['pregnant_high_blood_pressure'] = df['pregnant_high_blood_pressure'].replace(7,0)
df['pregnant_high_blood_pressure'] = df['pregnant_high_blood_pressure'].replace(9,0)
df = df.dropna(subset=['pregnant_high_blood_pressure'])
df['pregnant_high_blood_pressure'].describe()

count    436654.000000
mean          0.007933
std           0.088714
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: pregnant_high_blood_pressure, dtype: float64

In [30]:
df['unk_BPMEDS'] = df['BPMEDS']
df['unk_BPMEDS'] = df['unk_BPMEDS'].replace([1,2],0)
df['unk_BPMEDS'] = df['unk_BPMEDS'].replace([7,9],1)
df['unk_BPMEDS'] = df['unk_BPMEDS'].fillna(0)
df['unk_BPMEDS'].describe()

count    436654.000000
mean          0.001035
std           0.032157
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: unk_BPMEDS, dtype: float64

In [31]:
# high blood pressure medication
df['BPMEDS'] = df['BPMEDS'].replace(2,0)
df['BPMEDS'] = df['BPMEDS'].replace(7,0)
df['BPMEDS'] = df['BPMEDS'].replace(9,0)
df['BPMEDS'] = df['BPMEDS'].fillna(0)
df['BPMEDS'].describe()

count    436654.000000
mean          0.324401
std           0.468151
min           0.000000
25%           0.000000
50%           0.000000
75%           1.000000
max           1.000000
Name: BPMEDS, dtype: float64

In [32]:
df['unk_CHOLCHK3'] = df['CHOLCHK3']
df['unk_CHOLCHK3'] = df['unk_CHOLCHK3'].replace([1,2,3,4,5,6,8],0)
df['unk_CHOLCHK3'] = df['unk_CHOLCHK3'].replace([7,9],1)
df['unk_CHOLCHK3'] = df['unk_CHOLCHK3'].fillna(1)
df['unk_CHOLCHK3'].describe()

count    436654.000000
mean          0.067223
std           0.250407
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: unk_CHOLCHK3, dtype: float64

In [33]:
# cholesterol checked within last year
df['CHOLCHK3'] = df['CHOLCHK3'].replace(1,0)
df['CHOLCHK3'] = df['CHOLCHK3'].replace(2,1)
df['CHOLCHK3'] = df['CHOLCHK3'].replace(3,0)
df['CHOLCHK3'] = df['CHOLCHK3'].replace(4,0)
df['CHOLCHK3'] = df['CHOLCHK3'].replace(5,0)
df['CHOLCHK3'] = df['CHOLCHK3'].replace(6,0)
df['CHOLCHK3'] = df['CHOLCHK3'].replace(7,1)
df['CHOLCHK3'] = df['CHOLCHK3'].replace(8,0)
df['CHOLCHK3'] = df['CHOLCHK3'].replace(9,1)
df = df.dropna(subset=['CHOLCHK3'])
df['CHOLCHK3'].describe()

count    436654.000000
mean          0.728215
std           0.444880
min           0.000000
25%           0.000000
50%           1.000000
75%           1.000000
max           1.000000
Name: CHOLCHK3, dtype: float64

In [34]:
df['unk_TOLDHI3'] = df['TOLDHI3']
df['unk_TOLDHI3'] = df['unk_TOLDHI3'].replace([1,2],0)
df['unk_TOLDHI3'] = df['unk_TOLDHI3'].replace([7,9],1)
df['unk_TOLDHI3'] = df['unk_TOLDHI3'].fillna(0)
df['unk_TOLDHI3'].describe()

count    436654.000000
mean          0.007063
std           0.083743
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: unk_TOLDHI3, dtype: float64

In [35]:
df['not_known_TOLDHI3'] = df['TOLDHI3']
df['not_known_TOLDHI3'] = df['not_known_TOLDHI3'].replace([1,2,7,9],0)
df['not_known_TOLDHI3'] = df['not_known_TOLDHI3'].fillna(1)
df['not_known_TOLDHI3'].describe()

count    436654.000000
mean          0.137977
std           0.344876
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: not_known_TOLDHI3, dtype: float64

In [36]:
# been told cholesterol is high
df['TOLDHI3'] = df['TOLDHI3'].replace([2,7,9],0)
df['TOLDHI3'] = df['TOLDHI3'].fillna(0)
df['TOLDHI3'].describe()

count    436654.000000
mean          0.341396
std           0.474179
min           0.000000
25%           0.000000
50%           0.000000
75%           1.000000
max           1.000000
Name: TOLDHI3, dtype: float64

In [37]:
df['unk_CHOLMED3'] = df['CHOLMED3']
df['unk_CHOLMED3'] = df['unk_CHOLMED3'].replace([1,2],0)
df['unk_CHOLMED3'] = df['unk_CHOLMED3'].replace([7,9],1)
df['unk_CHOLMED3'] = df['unk_CHOLMED3'].fillna(0)
df['unk_CHOLMED3'].describe()

count    436654.000000
mean          0.004225
std           0.064865
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: unk_CHOLMED3, dtype: float64

In [38]:
# taking medicine prescribed by doctor
df['CHOLMED3'] = df['CHOLMED3'].replace([2,7],0)
df['CHOLMED3'] = df['CHOLMED3'].replace(9,1)
df['CHOLMED3'] = df['CHOLMED3'].fillna(0)
df['CHOLMED3'].describe()

count    436654.000000
mean          0.263165
std           0.440352
min           0.000000
25%           0.000000
50%           0.000000
75%           1.000000
max           1.000000
Name: CHOLMED3, dtype: float64

In [39]:
df['unk_CVDINFR4'] = df['CVDINFR4']
df['unk_CVDINFR4'] = df['unk_CVDINFR4'].replace([1,2],0)
df['unk_CVDINFR4'] = df['unk_CVDINFR4'].replace([7,9],1)
df['unk_CVDINFR4'] = df['unk_CVDINFR4'].fillna(1)
df['unk_CVDINFR4'].describe()

count    436654.000000
mean          0.005728
std           0.075464
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: unk_CVDINFR4, dtype: float64

In [40]:
# *had heart attack*
df['CVDINFR4'] = df['CVDINFR4'].replace([2,7,9],0)
df['CVDINFR4'] = df['CVDINFR4'].fillna(0)
df['CVDINFR4'].describe()

count    436654.000000
mean          0.051853
std           0.221731
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: CVDINFR4, dtype: float64

In [41]:
df['unk_CVDCRHD4'] = df['CVDCRHD4']
df['unk_CVDCRHD4'] = df['unk_CVDCRHD4'].replace([1,2],0)
df['unk_CVDCRHD4'] = df['unk_CVDCRHD4'].replace([7,9],1)
df['unk_CVDCRHD4'] = df['unk_CVDCRHD4'].fillna(1)
df['unk_CVDCRHD4'].describe()

count    436654.000000
mean          0.009387
std           0.096432
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: unk_CVDCRHD4, dtype: float64

In [42]:
# *told had angina or coronary heart disease*
df['CVDINFR4'] = df['CVDINFR4'].replace([2,7,9],0)
df['CVDINFR4'] = df['CVDINFR4'].fillna(0)
df['CVDINFR4'].describe()

count    436654.000000
mean          0.051853
std           0.221731
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: CVDINFR4, dtype: float64

In [43]:
df['unk_CVDSTRK3'] = df['CVDSTRK3']
df['unk_CVDSTRK3'] = df['unk_CVDSTRK3'].replace([1,2],0)
df['unk_CVDSTRK3'] = df['unk_CVDSTRK3'].replace([7,9],1)
df['unk_CVDSTRK3'] = df['unk_CVDSTRK3'].fillna(1)
df['unk_CVDSTRK3'].describe()

count    436654.000000
mean          0.002977
std           0.054482
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: unk_CVDSTRK3, dtype: float64

In [44]:
# *had stroke*
df['CVDSTRK3'] = df['CVDSTRK3'].replace([2,7,9],0)
df['CVDSTRK3'] = df['CVDSTRK3'].fillna(0)
df['CVDSTRK3'].describe()

count    436654.000000
mean          0.039070
std           0.193761
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: CVDSTRK3, dtype: float64

In [45]:
df['unk_ASTHMA3'] = df['ASTHMA3']
df['unk_ASTHMA3'] = df['unk_ASTHMA3'].replace([1,2],0)
df['unk_ASTHMA3'] = df['unk_ASTHMA3'].replace([7,9],1)
df['unk_ASTHMA3'] = df['unk_ASTHMA3'].fillna(1)
df['unk_ASTHMA3'].describe()

count    436654.000000
mean          0.003687
std           0.060610
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: unk_ASTHMA3, dtype: float64

In [46]:
# *had asthma*
df['ASTHMA3'] = df['ASTHMA3'].replace([2,7,9],0)
df['ASTHMA3'] = df['ASTHMA3'].fillna(0)
df['ASTHMA3'].describe()

count    436654.000000
mean          0.140138
std           0.347131
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: ASTHMA3, dtype: float64

In [47]:
df['unk_ASTHNOW'] = df['ASTHNOW']
df['unk_ASTHNOW'] = df['unk_ASTHNOW'].replace([1,2],0)
df['unk_ASTHNOW'] = df['unk_ASTHNOW'].replace([7,9],1)
df['unk_ASTHNOW'] = df['unk_ASTHNOW'].fillna(0)
df['unk_ASTHNOW'].describe()

count    436654.000000
mean          0.004081
std           0.063753
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: unk_ASTHNOW, dtype: float64

In [48]:
# *has asthma now*
df['ASTHNOW'] = df['ASTHNOW'].replace([2,7,9],0)
df['ASTHNOW'] = df['ASTHNOW'].fillna(0)
df['ASTHNOW'].describe()

count    436654.000000
mean          0.097235
std           0.296278
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: ASTHNOW, dtype: float64

In [49]:
df['unk_CHCSCNCR'] = df['CHCSCNCR']
df['unk_CHCSCNCR'] = df['unk_CHCSCNCR'].replace([1,2],0)
df['unk_CHCSCNCR'] = df['unk_CHCSCNCR'].replace([7,9],1)
df['unk_CHCSCNCR'] = df['unk_CHCSCNCR'].fillna(1)
df['unk_CHCSCNCR'].describe()

count    436654.000000
mean          0.003005
std           0.054732
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: unk_CHCSCNCR, dtype: float64

In [50]:
# *had skin cancer*
df['CHCSCNCR'] = df['CHCSCNCR'].replace([2,7,9],0)
df['CHCSCNCR'] = df['CHCSCNCR'].fillna(0)
df['CHCSCNCR'].describe()

count    436654.000000
mean          0.093671
std           0.291371
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: CHCSCNCR, dtype: float64

In [51]:
df['unk_CHCOCNCR'] = df['CHCOCNCR']
df['unk_CHCOCNCR'] = df['unk_CHCOCNCR'].replace([1,2],0)
df['unk_CHCOCNCR'] = df['unk_CHCOCNCR'].replace([7,9],1)
df['unk_CHCOCNCR'] = df['unk_CHCOCNCR'].fillna(1)
df['unk_CHCOCNCR'].describe()

count    436654.000000
mean          0.002803
std           0.052870
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: unk_CHCOCNCR, dtype: float64

In [52]:
# *had other cancer*
df['CHCOCNCR'] = df['CHCOCNCR'].replace([2,7,9],0)
df['CHCOCNCR'] = df['CHCOCNCR'].fillna(0)
df['CHCOCNCR'].describe()

count    436654.000000
mean          0.096326
std           0.295038
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: CHCOCNCR, dtype: float64

In [53]:
df['unk_CHCCOPD3'] = df['CHCCOPD3']
df['unk_CHCCOPD3'] = df['unk_CHCCOPD3'].replace([1,2],0)
df['unk_CHCCOPD3'] = df['unk_CHCCOPD3'].replace([7,9],1)
df['unk_CHCCOPD3'] = df['unk_CHCCOPD3'].fillna(1)
df['unk_CHCCOPD3'].describe()

count    436654.000000
mean          0.004447
std           0.066541
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: unk_CHCCOPD3, dtype: float64

In [54]:
# *had other cancer*
df['CHCCOPD3'] = df['CHCCOPD3'].replace([2,7,9],0)
df['CHCCOPD3'] = df['CHCCOPD3'].fillna(0)
df['CHCCOPD3'].describe()

count    436654.000000
mean          0.077679
std           0.267667
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: CHCCOPD3, dtype: float64

In [55]:
df['unk_ADDEPEV3'] = df['ADDEPEV3']
df['unk_ADDEPEV3'] = df['unk_ADDEPEV3'].replace([1,2],0)
df['unk_ADDEPEV3'] = df['unk_ADDEPEV3'].replace([7,9],1)
df['unk_ADDEPEV3'] = df['unk_ADDEPEV3'].fillna(1)
df['unk_ADDEPEV3'].describe()

count    436654.000000
mean          0.005370
std           0.073086
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: unk_ADDEPEV3, dtype: float64

In [56]:
# *had depressive disorder*
df['ADDEPEV3'] = df['ADDEPEV3'].replace([2,7,9],0)
df['ADDEPEV3'] = df['ADDEPEV3'].fillna(0)
df['ADDEPEV3'].describe()

count    436654.000000
mean          0.194616
std           0.395906
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: ADDEPEV3, dtype: float64

In [57]:
df['unk_CHCKDNY2'] = df['CHCKDNY2']
df['unk_CHCKDNY2'] = df['unk_CHCKDNY2'].replace([1,2],0)
df['unk_CHCKDNY2'] = df['unk_CHCKDNY2'].replace([7,9],1)
df['unk_CHCKDNY2'] = df['unk_CHCKDNY2'].fillna(1)
df['unk_CHCKDNY2'].describe()

count    436654.000000
mean          0.003811
std           0.061614
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: unk_CHCKDNY2, dtype: float64

In [58]:
# *had kidney disease*
df['ADDEPEV3'] = df['ADDEPEV3'].replace([2,7,9],0)
df['ADDEPEV3'] = df['ADDEPEV3'].fillna(0)
df['ADDEPEV3'].describe()

count    436654.000000
mean          0.194616
std           0.395906
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: ADDEPEV3, dtype: float64

In [59]:
df['unk_DIABETE4'] = df['DIABETE4']
df['unk_DIABETE4'] = df['unk_DIABETE4'].replace([1,2,3,4],0)
df['unk_DIABETE4'] = df['unk_DIABETE4'].replace([7,9],1)
df['unk_DIABETE4'] = df['unk_DIABETE4'].fillna(1)
df['unk_DIABETE4'].describe()

count    436654.000000
mean          0.001960
std           0.044233
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: unk_DIABETE4, dtype: float64

In [60]:
# *had diabetes during pregnancy*
df['pregnancy_diabetes'] = df['DIABETE4']
df['pregnancy_diabetes'] = df['pregnancy_diabetes'].replace([1,3,4,7,9],0)
df['pregnancy_diabetes'] = df['pregnancy_diabetes'].replace(2,1)
df['pregnancy_diabetes'] = df['pregnancy_diabetes'].fillna(0)
df['pregnancy_diabetes'].describe()

count    436654.000000
mean          0.008693
std           0.092832
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: pregnancy_diabetes, dtype: float64

In [61]:
# *had prediabetes*
df['pre_diabetes'] = df['DIABETE4']
df['pre_diabetes'] = df['pre_diabetes'].replace([1,2,3,7,9],0)
df['pre_diabetes'] = df['pre_diabetes'].replace(4,1)
df['pre_diabetes'] = df['pre_diabetes'].fillna(0)
df['pre_diabetes'].describe()

count    436654.000000
mean          0.022613
std           0.148666
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: pre_diabetes, dtype: float64

In [62]:
# *had diabetes*
df['DIABETE4'] = df['DIABETE4'].replace(2,1)
df['DIABETE4'] = df['DIABETE4'].replace([3,4,7,9],0)
df['DIABETE4'] = df['DIABETE4'].fillna(0)
df['DIABETE4'].describe()

count    436654.000000
mean          0.139777
std           0.346755
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: DIABETE4, dtype: float64

In [63]:
# drop s7q12, old when told had diabetes, not relevant for diagnosing
df = df.drop(['DIABAGE3'], axis=1)

In [64]:
df['unk_HAVARTH5'] = df['HAVARTH5']
df['unk_HAVARTH5'] = df['unk_HAVARTH5'].replace([1,2],0)
df['unk_HAVARTH5'] = df['unk_HAVARTH5'].replace([7,9],1)
df['unk_HAVARTH5'] = df['unk_HAVARTH5'].fillna(1)
df['unk_HAVARTH5'].describe()

count    436654.000000
mean          0.006264
std           0.078894
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: unk_HAVARTH5, dtype: float64

In [65]:
# *have arthritis
df['HAVARTH5'] = df['HAVARTH5'].replace([2,7,9],0)
df['HAVARTH5'] = df['HAVARTH5'].fillna(0)
df['HAVARTH5'].describe()

count    436654.000000
mean          0.324685
std           0.468258
min           0.000000
25%           0.000000
50%           0.000000
75%           1.000000
max           1.000000
Name: HAVARTH5, dtype: float64

In [66]:
# drop s8q2, suggested physical activity for arthritis, not relevant for diagnosis
# drop s8q3, taken course for arthritis, not relevant for diagnosis
# drop s8q4, limited because of joint symptoms, not relevant for diagnosis
df = df.drop(['ARTHEXER', 'ARTHEDU'], axis=1)

In [67]:
df['unk_LMTJOIN3'] = df['LMTJOIN3']
df['unk_LMTJOIN3'] = df['unk_LMTJOIN3'].replace([1,2],0)
df['unk_LMTJOIN3'] = df['unk_LMTJOIN3'].replace([7,9],1)
df['unk_LMTJOIN3'] = df['unk_LMTJOIN3'].fillna(0)
df['unk_LMTJOIN3'].describe()

count    436654.000000
mean          0.003181
std           0.056311
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: unk_LMTJOIN3, dtype: float64

In [68]:
# limited by their arthritis or joints
df['LMTJOIN3'] = df['LMTJOIN3'].replace([2,7,9],0)
df['LMTJOIN3'] = df['LMTJOIN3'].fillna(0)
df['LMTJOIN3'].describe()

count    436654.000000
mean          0.133350
std           0.339953
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: LMTJOIN3, dtype: float64

In [69]:
df['unk_ARTHDIS2'] = df['ARTHDIS2']
df['unk_ARTHDIS2'] = df['unk_ARTHDIS2'].replace([1,2],0)
df['unk_ARTHDIS2'] = df['unk_ARTHDIS2'].replace([7,9],1)
df['unk_ARTHDIS2'] = df['unk_ARTHDIS2'].fillna(0)
df['unk_ARTHDIS2'].describe()

count    436654.000000
mean          0.007475
std           0.086135
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: unk_ARTHDIS2, dtype: float64

In [70]:
# arthritis or joints affects work
df['ARTHDIS2'] = df['ARTHDIS2'].replace([2,7,9],0)
df['ARTHDIS2'] = df['ARTHDIS2'].fillna(0)
df['ARTHDIS2'].describe()

count    436654.000000
mean          0.088141
std           0.283500
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: ARTHDIS2, dtype: float64

In [71]:
df['unk_JOINPAI2'] = df['JOINPAI2']
df['unk_JOINPAI2'] = df['unk_JOINPAI2'].replace(range(0,11),0)
df['unk_JOINPAI2'] = df['unk_JOINPAI2'].replace([77,99],1)
df['unk_JOINPAI2'] = df['unk_JOINPAI2'].fillna(0)
df['unk_JOINPAI2'].describe()

count    436654.000000
mean          0.005822
std           0.076077
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: unk_JOINPAI2, dtype: float64

In [72]:
# how bad was joint pain
df['JOINPAI2'] = df['JOINPAI2'].replace([77,99],1)
df['JOINPAI2'] = df['JOINPAI2'].fillna(0)
df['JOINPAI2'].describe()

count    436654.000000
mean          1.474818
std           2.647144
min           0.000000
25%           0.000000
50%           0.000000
75%           2.000000
max          10.000000
Name: JOINPAI2, dtype: float64

In [73]:
df['unk_MARITAL'] = df['MARITAL']
df['unk_MARITAL'] = df['unk_MARITAL'].replace(range(1,7),0)
df['unk_MARITAL'] = df['unk_MARITAL'].replace(9,1)
df['unk_MARITAL'] = df['unk_MARITAL'].fillna(1)
df['unk_MARITAL'].describe()

count    436654.000000
mean          0.011029
std           0.104440
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: unk_MARITAL, dtype: float64

In [74]:
# married
df['married'] = df['MARITAL']
df['married'] = df['married'].replace([2,3,4,5,6,9],0)
df['married'] = df['married'].fillna(0)
df['married'].describe()

count    436654.000000
mean          0.518685
std           0.499651
min           0.000000
25%           0.000000
50%           1.000000
75%           1.000000
max           1.000000
Name: married, dtype: float64

In [75]:
# divorced
df['divorced'] = df['MARITAL']
df['divorced'] = df['divorced'].replace([1,3,4,5,6,9],0)
df['divorced'] = df['divorced'].replace(2,1)
df['divorced'] = df['divorced'].fillna(0)
df['divorced'].describe()

count    436654.000000
mean          0.126734
std           0.332675
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: divorced, dtype: float64

In [76]:
# widowed
df['widowed'] = df['MARITAL']
df['widowed'] = df['widowed'].replace([1,2,4,5,6,9],0)
df['widowed'] = df['widowed'].replace(3,1)
df['widowed'] = df['widowed'].fillna(0)
df['widowed'].describe()

count    436654.000000
mean          0.107511
std           0.309762
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: widowed, dtype: float64

In [77]:
# Separated
df['separated'] = df['MARITAL']
df['separated'] = df['separated'].replace([1,2,3,5,6,9],0)
df['separated'] = df['separated'].replace(4,1)
df['separated'] = df['separated'].fillna(0)
df['separated'].describe()

count    436654.000000
mean          0.019226
std           0.137318
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: separated, dtype: float64

In [78]:
# never married
df['never_married'] = df['MARITAL']
df['never_married'] = df['never_married'].replace([1,2,3,4,6,9],0)
df['never_married'] = df['never_married'].replace(5,1)
df['never_married'] = df['never_married'].fillna(0)
df['never_married'].describe()

count    436654.000000
mean          0.176831
std           0.381526
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: never_married, dtype: float64

In [79]:
# unmarried_couple
df['unmarried_couple'] = df['MARITAL']
df['unmarried_couple'] = df['unmarried_couple'].replace([1,2,3,4,5,9],0)
df['unmarried_couple'] = df['unmarried_couple'].replace(6,1)
df['unmarried_couple'] = df['unmarried_couple'].fillna(0)
df['unmarried_couple'].describe()

count    436654.000000
mean          0.039984
std           0.195921
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: unmarried_couple, dtype: float64

In [80]:
# drop s9q6, education level, _EDUCAG is better
df = df.drop(['EDUCA'], axis=1)

In [81]:
df['unk_RENTHOM1'] = df['RENTHOM1']
df['unk_RENTHOM1'] = df['unk_RENTHOM1'].replace([1,2,3],0)
df['unk_RENTHOM1'] = df['unk_RENTHOM1'].replace([7,9],1)
df['unk_RENTHOM1'] = df['unk_RENTHOM1'].fillna(1)
df['unk_RENTHOM1'].describe()

count    436654.000000
mean          0.010148
std           0.100223
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: unk_RENTHOM1, dtype: float64

In [82]:
# own
df['own_house'] = df['RENTHOM1']
df['own_house'] = df['own_house'].replace([2,3,7,9],0)
df['own_house'] = df['own_house'].fillna(0)
df['own_house'].describe()

count    436654.000000
mean          0.704840
std           0.456115
min           0.000000
25%           0.000000
50%           1.000000
75%           1.000000
max           1.000000
Name: own_house, dtype: float64

In [84]:
# rent
df['RENTHOM1'] = df['RENTHOM1'].replace([1,3,7,9],0)
df['RENTHOM1'] = df['RENTHOM1'].replace(2,1)
df['RENTHOM1'] = df['RENTHOM1'].fillna(0)
df['RENTHOM1'].describe()

count    436654.000000
mean          0.236835
std           0.425141
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: RENTHOM1, dtype: float64

In [85]:
# drop s9q10, household telephones, not relevant
# drop s9q11, residential phones
# drop s9q12, cell phone for personal use
df = df.drop(['NUMHHOL3', 'NUMPHON3', 'CPDEMO1B'], axis=1)

In [87]:
df['unk_VETERAN3'] = df['VETERAN3']
df['unk_VETERAN3'] = df['unk_VETERAN3'].replace([1,2],0)
df['unk_VETERAN3'] = df['unk_VETERAN3'].replace([7,9],1)
df['unk_VETERAN3'] = df['unk_VETERAN3'].fillna(1)
df['unk_VETERAN3'].describe()

count    436654.000000
mean          0.007109
std           0.084012
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: unk_VETERAN3, dtype: float64

In [88]:
# rent
df['VETERAN3'] = df['VETERAN3'].replace([2,7,9],0)
df['VETERAN3'] = df['VETERAN3'].fillna(0)
df['VETERAN3'].describe()

count    436654.000000
mean          0.236835
std           0.425141
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: RENTHOM1, dtype: float64

In [89]:
df['unk_EMPLOY1'] = df['EMPLOY1']
df['unk_EMPLOY1'] = df['unk_EMPLOY1'].replace(range(1,9),0)
df['unk_EMPLOY1'] = df['unk_EMPLOY1'].replace(9,1)
df['unk_EMPLOY1'] = df['unk_EMPLOY1'].fillna(1)
df['unk_EMPLOY1'].describe()

count    436654.000000
mean          0.018399
std           0.134389
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: unk_EMPLOY1, dtype: float64

In [90]:
# employed for wages
df['employed_for_wages'] = df['EMPLOY1']
df['employed_for_wages'] = df['employed_for_wages'].replace(range(2,10),0)
df['employed_for_wages'] = df['employed_for_wages'].fillna(0)
df['employed_for_wages'].describe()

count    436654.000000
mean          0.425037
std           0.494349
min           0.000000
25%           0.000000
50%           0.000000
75%           1.000000
max           1.000000
Name: employed_for_wages, dtype: float64

In [91]:
# self employed
df['self_employed'] = df['EMPLOY1']
df['self_employed'] = df['self_employed'].replace([1,3,4,5,6,7,8,9],0)
df['self_employed'] = df['self_employed'].replace(2,1)
df['self_employed'] = df['self_employed'].fillna(0)
df['self_employed'].describe()

count    436654.000000
mean          0.086176
std           0.280624
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: self_employed, dtype: float64

In [92]:
# Out of work for 1 year or more
df['out_of_work_year_plus'] = df['EMPLOY1']
df['out_of_work_year_plus'] = df['out_of_work_year_plus'].replace([1,2,4,5,6,7,8,9],0)
df['out_of_work_year_plus'] = df['out_of_work_year_plus'].replace(3,1)
df['out_of_work_year_plus'] = df['out_of_work_year_plus'].fillna(0)
df['out_of_work_year_plus'].describe()

count    436654.000000
mean          0.026009
std           0.159163
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: out_of_work_year_plus, dtype: float64

In [93]:
# Out of work for less than 1 year
df['out_of_work_year_less'] = df['EMPLOY1']
df['out_of_work_year_less'] = df['out_of_work_year_less'].replace([1,2,3,5,6,7,8,9],0)
df['out_of_work_year_less'] = df['out_of_work_year_less'].replace(4,1)
df['out_of_work_year_less'] = df['out_of_work_year_less'].fillna(0)
df['out_of_work_year_less'].describe()

count    436654.000000
mean          0.022153
std           0.147180
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: out_of_work_year_less, dtype: float64

In [94]:
# homemaker
df['homemaker'] = df['EMPLOY1']
df['homemaker'] = df['homemaker'].replace([1,2,3,4,6,7,8,9],0)
df['homemaker'] = df['homemaker'].replace(5,1)
df['homemaker'] = df['homemaker'].fillna(0)
df['homemaker'].describe()

count    436654.000000
mean          0.040082
std           0.196152
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: homemaker, dtype: float64

In [95]:
# a student
df['student'] = df['EMPLOY1']
df['student'] = df['student'].replace([1,2,3,4,5,7,8,9],0)
df['student'] = df['student'].replace(6,1)
df['student'] = df['student'].fillna(0)
df['student'].describe()

count    436654.000000
mean          0.024372
std           0.154200
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: student, dtype: float64

In [96]:
# retired
df['retired'] = df['EMPLOY1']
df['retired'] = df['retired'].replace([1,2,3,4,5,6,8,9],0)
df['retired'] = df['retired'].replace(7,1)
df['retired'] = df['retired'].fillna(0)
df['retired'].describe()

count    436654.000000
mean          0.299530
std           0.458053
min           0.000000
25%           0.000000
50%           0.000000
75%           1.000000
max           1.000000
Name: retired, dtype: float64

In [97]:
# unable to work
df['unable_to_work'] = df['EMPLOY1']
df['unable_to_work'] = df['unable_to_work'].replace([1,2,3,4,5,6,7,9],0)
df['unable_to_work'] = df['unable_to_work'].replace(8,1)
df['unable_to_work'] = df['unable_to_work'].fillna(0)
df['unable_to_work'].describe()

count    436654.000000
mean          0.058243
std           0.234202
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: unable_to_work, dtype: float64

In [98]:
df = df.drop(['EMPLOY1'], axis=1)

In [99]:
# drop s9q15, number of children in household, not relevant
# drop s9q16, income level, _INCOMG1 is a better metric
df = df.drop(['CHILDREN', 'INCOME3'], axis=1)

In [100]:
df['unk_PREGNANT'] = df['PREGNANT']
df['unk_PREGNANT'] = df['unk_PREGNANT'].replace([1,2],0)
df['unk_PREGNANT'] = df['unk_PREGNANT'].replace([7,9],1)
df['unk_PREGNANT'] = df['unk_PREGNANT'].fillna(0)
df['unk_PREGNANT'].describe()

count    436654.000000
mean          0.001372
std           0.037012
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: unk_PREGNANT, dtype: float64

In [101]:
# pregnant
df['PREGNANT'] = df['PREGNANT'].replace([2,7,9],0)
df['PREGNANT'] = df['PREGNANT'].fillna(0)
df['PREGNANT'].describe()

count    436654.000000
mean          0.005409
std           0.073349
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: PREGNANT, dtype: float64

In [102]:
# drop s9q18, reported weight pounds, WTKG3 is a better metric
# drop s9q19, reported height in feet and inches, HTM4 is a better metric
df = df.drop(['WEIGHT2', 'HEIGHT3'], axis=1)

In [103]:
df['unk_DEAF'] = df['DEAF']
df['unk_DEAF'] = df['unk_DEAF'].replace([1,2],0)
df['unk_DEAF'] = df['unk_DEAF'].replace([7,9],1)
df['unk_DEAF'] = df['unk_DEAF'].fillna(1)
df['unk_DEAF'].describe()

count    436654.000000
mean          0.036970
std           0.188688
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: unk_DEAF, dtype: float64

In [104]:
# *is deaf*
df['DEAF'] = df['DEAF'].replace([2,7,9],0)
df['DEAF'] = df['DEAF'].fillna(0)
df['DEAF'].describe()

count    436654.000000
mean          0.085395
std           0.279469
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: DEAF, dtype: float64

In [105]:
df['unk_BLIND'] = df['BLIND']
df['unk_BLIND'] = df['unk_BLIND'].replace([1,2],0)
df['unk_BLIND'] = df['unk_BLIND'].replace([7,9],1)
df['unk_BLIND'] = df['unk_BLIND'].fillna(1)
df['unk_BLIND'].describe()

count    436654.000000
mean          0.039171
std           0.194001
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: unk_BLIND, dtype: float64

In [106]:
# *is blind*
df['BLIND'] = df['BLIND'].replace([2,7,9],0)
df['BLIND'] = df['BLIND'].fillna(0)
df['BLIND'].describe()

count    436654.000000
mean          0.049316
std           0.216527
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: BLIND, dtype: float64

In [107]:
df['unk_DECIDE'] = df['DECIDE']
df['unk_DECIDE'] = df['unk_DECIDE'].replace([1,2],0)
df['unk_DECIDE'] = df['unk_DECIDE'].replace([7,9],1)
df['unk_DECIDE'] = df['unk_DECIDE'].fillna(1)
df['unk_DECIDE'].describe()

count    436654.000000
mean          0.045088
std           0.207498
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: unk_DECIDE, dtype: float64

In [108]:
# difficulty concentrating or remembering
df['DECIDE'] = df['DECIDE'].replace([2,7,9],0)
df['DECIDE'] = df['DECIDE'].fillna(0)
df['DECIDE'].describe()

count    436654.000000
mean          0.105266
std           0.306897
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: DECIDE, dtype: float64

In [109]:
df['unk_DIFFWALK'] = df['DIFFWALK']
df['unk_DIFFWALK'] = df['unk_DIFFWALK'].replace([1,2],0)
df['unk_DIFFWALK'] = df['unk_DIFFWALK'].replace([7,9],1)
df['unk_DIFFWALK'] = df['unk_DIFFWALK'].fillna(1)
df['unk_DIFFWALK'].describe()

count    436654.000000
mean          0.044761
std           0.206779
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: unk_DIFFWALK, dtype: float64

In [110]:
# Difficulty Walking or Climbing Stairs
df['DIFFWALK'] = df['DIFFWALK'].replace([2,7,9],0)
df['DIFFWALK'] = df['DIFFWALK'].fillna(0)
df['DIFFWALK'].describe()

count    436654.000000
mean          0.153307
std           0.360283
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: DIFFWALK, dtype: float64

In [111]:
df['unk_DIFFDRES'] = df['DIFFDRES']
df['unk_DIFFDRES'] = df['unk_DIFFDRES'].replace([1,2],0)
df['unk_DIFFDRES'] = df['unk_DIFFDRES'].replace([7,9],1)
df['unk_DIFFDRES'] = df['unk_DIFFDRES'].fillna(1)
df['unk_DIFFDRES'].describe()

count    436654.000000
mean          0.044564
std           0.206344
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: unk_DIFFDRES, dtype: float64

In [112]:
# Difficulty Dressing or Bathing
df['DIFFDRES'] = df['DIFFDRES'].replace([2,7,9],0)
df['DIFFDRES'] = df['DIFFDRES'].fillna(0)
df['DIFFDRES'].describe()

count    436654.000000
mean          0.038461
std           0.192306
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: DIFFDRES, dtype: float64

In [113]:
df['unk_DIFFALON'] = df['DIFFALON']
df['unk_DIFFALON'] = df['unk_DIFFALON'].replace([1,2],0)
df['unk_DIFFALON'] = df['unk_DIFFALON'].replace([7,9],1)
df['unk_DIFFALON'] = df['unk_DIFFALON'].fillna(1)
df['unk_DIFFALON'].describe()

count    436654.000000
mean          0.048375
std           0.214557
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: unk_DIFFALON, dtype: float64

In [114]:
# Difficulty Doing Errands Alone
df['DIFFALON'] = df['DIFFALON'].replace([2,7,9],0)
df['DIFFALON'] = df['DIFFALON'].fillna(0)
df['DIFFALON'].describe()

count    436654.000000
mean          0.070397
std           0.255815
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: DIFFALON, dtype: float64

In [115]:
df['unk_SMOKE100'] = df['SMOKE100']
df['unk_SMOKE100'] = df['unk_SMOKE100'].replace([1,2],0)
df['unk_SMOKE100'] = df['unk_SMOKE100'].replace([7,9],1)
df['unk_SMOKE100'] = df['unk_SMOKE100'].fillna(1)
df['unk_SMOKE100'].describe()

count    436654.000000
mean          0.055300
std           0.228565
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: unk_SMOKE100, dtype: float64

In [116]:
# Smoked at Least 100 Cigarettes
df['SMOKE100'] = df['SMOKE100'].replace([2,7,9],0)
df['SMOKE100'] = df['SMOKE100'].fillna(0)
df['SMOKE100'].describe()

count    436654.00000
mean          0.38189
std           0.48585
min           0.00000
25%           0.00000
50%           0.00000
75%           1.00000
max           1.00000
Name: SMOKE100, dtype: float64

In [117]:
df['unk_SMOKDAY2'] = df['SMOKDAY2']
df['unk_SMOKDAY2'] = df['unk_SMOKDAY2'].replace([1,2,3],0)
df['unk_SMOKDAY2'] = df['unk_SMOKDAY2'].replace([7,9],1)
df['unk_SMOKDAY2'] = df['unk_SMOKDAY2'].fillna(0)
df['unk_SMOKDAY2'].describe()

count    436654.000000
mean          0.619248
std           0.485572
min           0.000000
25%           0.000000
50%           1.000000
75%           1.000000
max           1.000000
Name: unk_SMOKDAY2, dtype: float64

In [118]:
# smoke every day
df['smoke_every_day'] = df['SMOKDAY2']
df['smoke_every_day'] = df['smoke_every_day'].replace([2,3,7,9],0)
df['smoke_every_day'] = df['smoke_every_day'].fillna(0)
df['smoke_every_day'].describe()

count    436654.000000
mean          0.088596
std           0.284161
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: smoke_every_day, dtype: float64

In [121]:
# smoke some days
df['smoke_some_days'] = df['SMOKDAY2']
df['smoke_some_days'] = df['smoke_some_days'].replace([1,3,7,9],0)
df['smoke_some_days'] = df['smoke_some_days'].replace(2,1)
df['smoke_some_days'] = df['smoke_some_days'].fillna(0)
df['smoke_some_days'].describe()

count    436654.000000
mean          0.033995
std           0.181216
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: smoke_some_days, dtype: float64

In [120]:
# smokes not at all
df['smoke_not_at_all'] = df['SMOKDAY2']
df['smoke_not_at_all'] = df['smoke_not_at_all'].replace([1,2,7,9],0)
df['smoke_not_at_all'] = df['smoke_not_at_all'].replace(3,1)
df['smoke_not_at_all'] = df['smoke_not_at_all'].fillna(0)
df['smoke_not_at_all'].describe()

count    436654.000000
mean          0.258161
std           0.437623
min           0.000000
25%           0.000000
50%           0.000000
75%           1.000000
max           1.000000
Name: smoke_not_at_all, dtype: float64

In [122]:
df = df.drop(['SMOKDAY2'], axis=1)

In [123]:
df['unk_USENOW3'] = df['USENOW3']
df['unk_USENOW3'] = df['unk_USENOW3'].replace([1,2,3],0)
df['unk_USENOW3'] = df['unk_USENOW3'].replace([7,9],1)
df['unk_USENOW3'] = df['unk_USENOW3'].fillna(1)
df['unk_USENOW3'].describe()

count    436654.000000
mean          0.051771
std           0.221565
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: unk_USENOW3, dtype: float64

In [124]:
# smokeless every day
df['smokeless_every_day'] = df['USENOW3']
df['smokeless_every_day'] = df['smokeless_every_day'].replace([2,3,7,9],0)
df['smokeless_every_day'] = df['smokeless_every_day'].fillna(0)
df['smokeless_every_day'].describe()

count    436654.000000
mean          0.017682
std           0.131794
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: smokeless_every_day, dtype: float64

In [125]:
# smokeless some days
df['smokeless_some_days'] = df['USENOW3']
df['smokeless_some_days'] = df['smokeless_some_days'].replace([1,3,7,9],0)
df['smokeless_some_days'] = df['smokeless_some_days'].replace(2,1)
df['smokeless_some_days'] = df['smokeless_some_days'].fillna(0)
df['smokeless_some_days'].describe()

count    436654.000000
mean          0.012474
std           0.110990
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: smokeless_some_days, dtype: float64

In [126]:
# smokeless not at all
df['smokeless_not_at_all'] = df['USENOW3']
df['smokeless_not_at_all'] = df['smokeless_not_at_all'].replace([1,2,7,9],0)
df['smokeless_not_at_all'] = df['smokeless_not_at_all'].replace(3,1)
df['smokeless_not_at_all'] = df['smokeless_not_at_all'].fillna(0)
df['smokeless_not_at_all'].describe()

count    436654.000000
mean          0.918072
std           0.274255
min           0.000000
25%           1.000000
50%           1.000000
75%           1.000000
max           1.000000
Name: smokeless_not_at_all, dtype: float64

In [ ]:
df = df.drop(['USENOW3'], axis=1)

In [127]:
df['unk_ECIGNOW1'] = df['ECIGNOW1']
df['unk_ECIGNOW1'] = df['unk_ECIGNOW1'].replace([1,2,3,4],0)
df['unk_ECIGNOW1'] = df['unk_ECIGNOW1'].replace([7,9],1)
df['unk_ECIGNOW1'] = df['unk_ECIGNOW1'].fillna(1)
df['unk_ECIGNOW1'].describe()

count    436654.000000
mean          0.054187
std           0.226387
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: unk_ECIGNOW1, dtype: float64

In [128]:
# ecig every day
df['ecig_every_day'] = df['ECIGNOW1']
df['ecig_every_day'] = df['ecig_every_day'].replace([2,3,4,7,9],0)
df['ecig_every_day'] = df['ecig_every_day'].fillna(0)
df['ecig_every_day'].describe()

count    436654.000000
mean          0.020639
std           0.142172
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: ecig_every_day, dtype: float64

In [129]:
# ecig some days
df['ecig_some_days'] = df['ECIGNOW1']
df['ecig_some_days'] = df['ecig_some_days'].replace([1,3,4,7,9],0)
df['ecig_some_days'] = df['ecig_some_days'].replace(2,1)
df['ecig_some_days'] = df['ecig_some_days'].fillna(0)
df['ecig_some_days'].describe()

count    436654.000000
mean          0.023456
std           0.151346
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: ecig_some_days, dtype: float64

In [130]:
# ecig not at all
df['ecig_not_at_all'] = df['ECIGNOW1']
df['ecig_not_at_all'] = df['ecig_not_at_all'].replace([1,2,4,7,9],0)
df['ecig_not_at_all'] = df['ecig_not_at_all'].replace(3,1)
df['ecig_not_at_all'] = df['ecig_not_at_all'].fillna(0)
df['ecig_not_at_all'].describe()

count    436654.000000
mean          0.710430
std           0.453563
min           0.000000
25%           0.000000
50%           1.000000
75%           1.000000
max           1.000000
Name: ecig_not_at_all, dtype: float64

In [131]:
# ecig never used
df['ecig_never_used'] = df['ECIGNOW1']
df['ecig_never_used'] = df['ecig_never_used'].replace([1,2,3,7,9],0)
df['ecig_never_used'] = df['ecig_never_used'].replace(4,1)
df['ecig_never_used'] = df['ecig_never_used'].fillna(0)
df['ecig_never_used'].describe()

count    436654.000000
mean          0.191289
std           0.393316
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: ecig_never_used, dtype: float64

In [132]:
df = df.drop(['ECIGNOW1'], axis=1)

In [133]:
df['unk_ALCDAY5'] = df['ALCDAY5']
df['unk_ALCDAY5'] = df['unk_ALCDAY5'].replace(range(101,231),0)
df['unk_ALCDAY5'] = df['unk_ALCDAY5'].replace(888,0)
df['unk_ALCDAY5'] = df['unk_ALCDAY5'].replace([777,999],1)
df['unk_ALCDAY5'] = df['unk_ALCDAY5'].fillna(1)
df['unk_ALCDAY5'].describe()

count    436654.000000
mean          0.069167
std           0.253738
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: unk_ALCDAY5, dtype: float64

In [144]:
# Days in past 30 had alcoholic beverage
for index, row in df.iterrows():
    if(index % 50000 == 0):
        #print(index, ' : ', row['ALCDAY5'])
        print(index, ' : ', df.iloc[index]['ALCDAY5'])
#for i in range(0,len(df['ALCDAY5'])):
#    a = df.loc[i]
 #   if(a % 100 == 0):
 #       print(a)
df['ecig_never_used'] = df['ecig_never_used'].replace([1,2,3,7,9],0)
df['ecig_never_used'] = df['ecig_never_used'].replace(4,1)
df['ecig_never_used'] = df['ecig_never_used'].fillna(0)
df['ecig_never_used'].describe()

0  :  888.0
50000  :  888.0
100000  :  888.0
150000  :  230.0
200000  :  203.0
250000  :  888.0
300000  :  202.0
350000  :  203.0
400000  :  204.0

count    436654.0
mean          0.0
std           0.0
min           0.0
25%           0.0
50%           0.0
75%           0.0
max           0.0
Name: ecig_never_used, dtype: float64