In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

import warnings

warnings.simplefilter(action='ignore', category=pd.errors.PerformanceWarning)

In [2]:
df = pd.read_sas('./data/LLCP2021.XPT')

In [3]:
# drop s0q1, interview state
# drop s0q8, file month
# drop s0q9, interview date
# drop s0q10, interview month
# drop s0q11, interview day
# drop s0q12, interview year
# drop s0q14, final disposition, can use for dropping partial interviews
# drop s0q15, annual sequence number
# drop s0q16, primary sampling unit

In [4]:
df = df[df.CTELENM1 != 2] # s0q1, dropping incorrect phone numbers

In [5]:
# drop s0q1, correct telephone number
# drop s0q2, private residence
# drop s0q3, college housing
# drop s0q4, resident of state
# drop s0q5, cellular telephone
# drop s0q6, 18 or older
# drop s0q7, college male or female
# drop s0q8, number af adults in household
# drop s0q9, landline sex
# drop s0q10, number of adult men in household
# drop s0q11, number of adult women in household
# drop s0q12, respondent selection
# drop s0q1, safe time to talk
# drop s0q2, correct phone number
# drop s0q3, is this a cell phone
# drop s0q4, 18 years or older cell phone
# drop s0q5, cell phone male or female
# drop s0q6, private residence cell phone
# drop s0q7, cell phone college housing
# drop s0q8, cell phone state confirmation
# drop s0q10, do you have a landline as well
# drop s0q11, number of adults in household

In [6]:
df = df.drop(['_STATE', 'FMONTH', 'IDATE', 'IMONTH', 'IDAY', 'IYEAR', 'SEQNO', 'DISPCODE', '_PSU', 'CTELENM1', 
                'PVTRESD1', 'COLGHOUS', 'STATERE1', 'CELPHON1', 'LADULT1','COLGSEX', 'NUMADULT', 'LANDSEX', 'NUMMEN', 
              'NUMWOMEN', 'RESPSLCT', 'SAFETIME', 'CTELNUM1', 'CELLFON5',
               'CADULT1','CELLSEX', 'PVTRESD3', 'CCLGHOUS', 'CSTATE1', 'LANDLINE', 'HHADULT'], axis=1)

In [7]:
pd.isna(df["SEXVAR"]).value_counts() # no nans

False    438691
Name: SEXVAR, dtype: int64

In [8]:
df = df[df['GENHLTH'] != 7]
df = df[df['GENHLTH'] != 9]

In [9]:
df['GENHLTH'] = df['GENHLTH'].replace(1,0)
df['GENHLTH'] = df['GENHLTH'].replace(2,1)
df['GENHLTH'] = df['GENHLTH'].replace(3,2)
df['GENHLTH'] = df['GENHLTH'].replace(4,3)
df['GENHLTH'] = df['GENHLTH'].replace(5,4)

In [10]:
df = df.dropna(subset=['GENHLTH'])

In [11]:
df["GENHLTH"].value_counts()

1.0    149110
2.0    137938
0.0     77741
3.0     54736
4.0     18005
Name: GENHLTH, dtype: int64

In [12]:
df['unk_PHYSHLTH'] = df['PHYSHLTH']
df['unk_PHYSHLTH'] = df['unk_PHYSHLTH'].replace(range(1,31), 0)
df['unk_PHYSHLTH'] = df['unk_PHYSHLTH'].replace(88, 0)
df['unk_PHYSHLTH'] = df['unk_PHYSHLTH'].replace(99, 1)
df['unk_PHYSHLTH'] = df['unk_PHYSHLTH'].replace(77, 1)
df['unk_PHYSHLTH'] = df['unk_PHYSHLTH'].fillna(1)
df['unk_PHYSHLTH'].describe()

count    437530.000000
mean          0.020952
std           0.143223
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: unk_PHYSHLTH, dtype: float64

In [13]:
df['PHYSHLTH'] = df['PHYSHLTH'].replace(88,0)
df['PHYSHLTH'] = df['PHYSHLTH'].replace(77,0)
df['PHYSHLTH'] = df['PHYSHLTH'].replace(99,0)
df['PHYSHLTH'] = df['PHYSHLTH'].fillna(0)
df['PHYSHLTH'].describe()

count    437530.000000
mean          3.706816
std           8.272157
min           0.000000
25%           0.000000
50%           0.000000
75%           2.000000
max          30.000000
Name: PHYSHLTH, dtype: float64

In [14]:
df['unk_MENTHLTH'] = df['MENTHLTH']
df['unk_MENTHLTH'] = df['unk_MENTHLTH'].replace(range(1,31), 0)
df['unk_MENTHLTH'] = df['unk_MENTHLTH'].replace(88, 0)
df['unk_MENTHLTH'] = df['unk_MENTHLTH'].replace(99, 1)
df['unk_MENTHLTH'] = df['unk_MENTHLTH'].replace(77, 1)
df['unk_MENTHLTH'] = df['unk_MENTHLTH'].fillna(1)
df['unk_MENTHLTH'].describe()

count    437530.000000
mean          0.017562
std           0.131354
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: unk_MENTHLTH, dtype: float64

In [15]:
df['MENTHLTH'] = df['MENTHLTH'].replace(88,0)
df['MENTHLTH'] = df['MENTHLTH'].replace(77,0)
df['MENTHLTH'] = df['MENTHLTH'].replace(99,0)
df['MENTHLTH'] = df['MENTHLTH'].fillna(0)
df['MENTHLTH'].describe()

count    437530.000000
mean          4.028000
std           8.104612
min           0.000000
25%           0.000000
50%           0.000000
75%           3.000000
max          30.000000
Name: MENTHLTH, dtype: float64

In [16]:
df['unk_POORHLTH'] = df['POORHLTH']
df['unk_POORHLTH'] = df['unk_POORHLTH'].replace(range(1,31), 0)
df['unk_POORHLTH'] = df['unk_POORHLTH'].replace(88, 0)
df['unk_POORHLTH'] = df['unk_POORHLTH'].replace(99, 1)
df['unk_POORHLTH'] = df['unk_POORHLTH'].replace(77, 1)
df['unk_POORHLTH'] = df['unk_POORHLTH'].fillna(0)
df['unk_POORHLTH'].describe()

count    437530.000000
mean          0.011638
std           0.107250
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: unk_POORHLTH, dtype: float64

In [17]:
df['POORHLTH'] = df['POORHLTH'].replace(88,0)
df['POORHLTH'] = df['POORHLTH'].replace(77,0)
df['POORHLTH'] = df['POORHLTH'].replace(99,0)
df['POORHLTH'] = df['POORHLTH'].fillna(0)
df['POORHLTH'].describe()

count    437530.000000
mean          2.703236
std           7.002981
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max          30.000000
Name: POORHLTH, dtype: float64

In [18]:
# drop s3q1:PRIMINSR, health care access, _EDUCAG is a better metric
df = df.drop(['PRIMINSR'], axis=1)

In [19]:
df['unk_has_doc'] = df['PERSDOC3']
df['unk_has_doc'] = df['unk_has_doc'].replace([1,2,3],0)
df['unk_has_doc'] = df['unk_has_doc'].replace([7,9],1)
df['unk_has_doc'] = df['unk_has_doc'].fillna(1)
df['unk_has_doc'].describe()

count    437530.000000
mean          0.008281
std           0.090620
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: unk_has_doc, dtype: float64

In [20]:
# has a personal doctor
df['has_doc'] = df['PERSDOC3']
df.drop(columns=['PERSDOC3'])
df['has_doc'] = df['has_doc'].replace(2,1)
df['has_doc'] = df['has_doc'].replace(3,0)
df['has_doc'] = df['has_doc'].replace(7,0)
df['has_doc'] = df['has_doc'].replace(9,0)
df = df.dropna(subset=['has_doc'])
df['has_doc'].describe()

count    437529.000000
mean          0.871709
std           0.334414
min           0.000000
25%           1.000000
50%           1.000000
75%           1.000000
max           1.000000
Name: has_doc, dtype: float64

In [21]:
df['unk_MEDCOST1'] = df['MEDCOST1']
df['unk_MEDCOST1'] = df['unk_MEDCOST1'].replace([1,2],0)
df['unk_MEDCOST1'] = df['unk_MEDCOST1'].replace([7,9],1)
df['unk_MEDCOST1'] = df['unk_MEDCOST1'].fillna(1)
df['unk_MEDCOST1'].describe()

count    437529.000000
mean          0.002944
std           0.054177
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: unk_MEDCOST1, dtype: float64

In [22]:
df['MEDCOST1'] = df['MEDCOST1'].replace(2,0)
df['MEDCOST1'] = df['MEDCOST1'].replace(7,0)
df['MEDCOST1'] = df['MEDCOST1'].replace(9,0)
df = df.dropna(subset=['MEDCOST1'])
df['MEDCOST1'].describe()

count    437526.000000
mean          0.074121
std           0.261969
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: MEDCOST1, dtype: float64

In [23]:
df['unk_past_year'] = df['CHECKUP1']
df['unk_past_year'] = df['unk_past_year'].replace([1,2,3,4,8],0)
df['unk_past_year'] = df['unk_past_year'].replace([7,9],1)
df['unk_past_year'] = df['unk_past_year'].fillna(1)
df['unk_past_year'].describe()

count    437526.000000
mean          0.013213
std           0.114186
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: unk_past_year, dtype: float64

In [24]:
# within past year
df['past_year'] = df['CHECKUP1']
df.drop(columns=['CHECKUP1'])
df['past_year'] = df['past_year'].replace(2,0)
df['past_year'] = df['past_year'].replace(3,0)
df['past_year'] = df['past_year'].replace(4,0)
df['past_year'] = df['past_year'].replace(7,0)
df['past_year'] = df['past_year'].replace(8,0)
df['past_year'] = df['past_year'].replace(9,1)
df = df.dropna(subset=['past_year'])
df['past_year'].describe()

count    437526.000000
mean          0.770430
std           0.420557
min           0.000000
25%           1.000000
50%           1.000000
75%           1.000000
max           1.000000
Name: past_year, dtype: float64

In [25]:
df['unk_EXERANY2'] = df['EXERANY2']
df['unk_EXERANY2'] = df['unk_EXERANY2'].replace([1,2],0)
df['unk_EXERANY2'] = df['unk_EXERANY2'].replace([7,9],1)
df['unk_EXERANY2'] = df['unk_EXERANY2'].fillna(1)
df['unk_EXERANY2'].describe()

count    437526.000000
mean          0.001993
std           0.044599
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: unk_EXERANY2, dtype: float64

In [26]:
# physical activity other than job
df = df.dropna(subset=['EXERANY2'])
df['EXERANY2'] = df['EXERANY2'].replace(2,0)
df = df[df['EXERANY2'] != 7]
df = df[df['EXERANY2'] != 9]
df['EXERANY2'].describe()

count    436654.000000
mean          0.755896
std           0.429555
min           0.000000
25%           1.000000
50%           1.000000
75%           1.000000
max           1.000000
Name: EXERANY2, dtype: float64

In [27]:
df['unk_high_blood_pressure'] = df['BPHIGH6']
df['unk_high_blood_pressure'] = df['unk_high_blood_pressure'].replace([1,2,3,4],0)
df['unk_high_blood_pressure'] = df['unk_high_blood_pressure'].replace([7,9],1)
df['unk_high_blood_pressure'] = df['unk_high_blood_pressure'].fillna(1)
df['unk_high_blood_pressure'].describe()

count    436654.000000
mean          0.004003
std           0.063144
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: unk_high_blood_pressure, dtype: float64

In [28]:
# high blood pressure
df['high_blood_pressure'] = df['BPHIGH6']
df['high_blood_pressure'] = df['high_blood_pressure'].replace(2,1)
df['high_blood_pressure'] = df['high_blood_pressure'].replace(3,0)
df['high_blood_pressure'] = df['high_blood_pressure'].replace(4,1)
df['high_blood_pressure'] = df['high_blood_pressure'].replace(7,0)
df['high_blood_pressure'] = df['high_blood_pressure'].replace(9,0)
df = df.dropna(subset=['high_blood_pressure'])
df['high_blood_pressure'].describe()

count    436654.000000
mean          0.410442
std           0.491914
min           0.000000
25%           0.000000
50%           0.000000
75%           1.000000
max           1.000000
Name: high_blood_pressure, dtype: float64

In [29]:
# pregnant high blood pressure
df['pregnant_high_blood_pressure'] = df['BPHIGH6']
df.drop(columns=['BPHIGH6'])
df['pregnant_high_blood_pressure'] = df['pregnant_high_blood_pressure'].replace(1,0)
df['pregnant_high_blood_pressure'] = df['pregnant_high_blood_pressure'].replace(2,1)
df['pregnant_high_blood_pressure'] = df['pregnant_high_blood_pressure'].replace(3,0)
df['pregnant_high_blood_pressure'] = df['pregnant_high_blood_pressure'].replace(4,0)
df['pregnant_high_blood_pressure'] = df['pregnant_high_blood_pressure'].replace(7,0)
df['pregnant_high_blood_pressure'] = df['pregnant_high_blood_pressure'].replace(9,0)
df = df.dropna(subset=['pregnant_high_blood_pressure'])
df['pregnant_high_blood_pressure'].describe()

count    436654.000000
mean          0.007933
std           0.088714
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: pregnant_high_blood_pressure, dtype: float64

In [30]:
df['unk_BPMEDS'] = df['BPMEDS']
df['unk_BPMEDS'] = df['unk_BPMEDS'].replace([1,2],0)
df['unk_BPMEDS'] = df['unk_BPMEDS'].replace([7,9],1)
df['unk_BPMEDS'] = df['unk_BPMEDS'].fillna(0)
df['unk_BPMEDS'].describe()

count    436654.000000
mean          0.001035
std           0.032157
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: unk_BPMEDS, dtype: float64

In [31]:
# high blood pressure medication
df['BPMEDS'] = df['BPMEDS'].replace(2,0)
df['BPMEDS'] = df['BPMEDS'].replace(7,0)
df['BPMEDS'] = df['BPMEDS'].replace(9,0)
df['BPMEDS'] = df['BPMEDS'].fillna(0)
df['BPMEDS'].describe()

count    436654.000000
mean          0.324401
std           0.468151
min           0.000000
25%           0.000000
50%           0.000000
75%           1.000000
max           1.000000
Name: BPMEDS, dtype: float64

In [32]:
df['unk_CHOLCHK3'] = df['CHOLCHK3']
df['unk_CHOLCHK3'] = df['unk_CHOLCHK3'].replace([1,2,3,4,5,6,8],0)
df['unk_CHOLCHK3'] = df['unk_CHOLCHK3'].replace([7,9],1)
df['unk_CHOLCHK3'] = df['unk_CHOLCHK3'].fillna(1)
df['unk_CHOLCHK3'].describe()

count    436654.000000
mean          0.067223
std           0.250407
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: unk_CHOLCHK3, dtype: float64

In [33]:
# cholesterol checked within last year
df['CHOLCHK3'] = df['CHOLCHK3'].replace(1,0)
df['CHOLCHK3'] = df['CHOLCHK3'].replace(2,1)
df['CHOLCHK3'] = df['CHOLCHK3'].replace(3,0)
df['CHOLCHK3'] = df['CHOLCHK3'].replace(4,0)
df['CHOLCHK3'] = df['CHOLCHK3'].replace(5,0)
df['CHOLCHK3'] = df['CHOLCHK3'].replace(6,0)
df['CHOLCHK3'] = df['CHOLCHK3'].replace(7,1)
df['CHOLCHK3'] = df['CHOLCHK3'].replace(8,0)
df['CHOLCHK3'] = df['CHOLCHK3'].replace(9,1)
df = df.dropna(subset=['CHOLCHK3'])
df['CHOLCHK3'].describe()

count    436654.000000
mean          0.728215
std           0.444880
min           0.000000
25%           0.000000
50%           1.000000
75%           1.000000
max           1.000000
Name: CHOLCHK3, dtype: float64

In [34]:
df['unk_TOLDHI3'] = df['TOLDHI3']
df['unk_TOLDHI3'] = df['unk_TOLDHI3'].replace([1,2],0)
df['unk_TOLDHI3'] = df['unk_TOLDHI3'].replace([7,9],1)
df['unk_TOLDHI3'] = df['unk_TOLDHI3'].fillna(0)
df['unk_TOLDHI3'].describe()

count    436654.000000
mean          0.007063
std           0.083743
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: unk_TOLDHI3, dtype: float64

In [35]:
df['not_known_TOLDHI3'] = df['TOLDHI3']
df['not_known_TOLDHI3'] = df['not_known_TOLDHI3'].replace([1,2,7,9],0)
df['not_known_TOLDHI3'] = df['not_known_TOLDHI3'].fillna(1)
df['not_known_TOLDHI3'].describe()

count    436654.000000
mean          0.137977
std           0.344876
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: not_known_TOLDHI3, dtype: float64

In [36]:
# been told cholesterol is high
df['TOLDHI3'] = df['TOLDHI3'].replace([2,7,9],0)
df['TOLDHI3'] = df['TOLDHI3'].fillna(0)
df['TOLDHI3'].describe()

count    436654.000000
mean          0.341396
std           0.474179
min           0.000000
25%           0.000000
50%           0.000000
75%           1.000000
max           1.000000
Name: TOLDHI3, dtype: float64

In [37]:
df['unk_CHOLMED3'] = df['CHOLMED3']
df['unk_CHOLMED3'] = df['unk_CHOLMED3'].replace([1,2],0)
df['unk_CHOLMED3'] = df['unk_CHOLMED3'].replace([7,9],1)
df['unk_CHOLMED3'] = df['unk_CHOLMED3'].fillna(0)
df['unk_CHOLMED3'].describe()

count    436654.000000
mean          0.004225
std           0.064865
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: unk_CHOLMED3, dtype: float64

In [38]:
# taking medicine prescribed by doctor
df['CHOLMED3'] = df['CHOLMED3'].replace([2,7],0)
df['CHOLMED3'] = df['CHOLMED3'].replace(9,1)
df['CHOLMED3'] = df['CHOLMED3'].fillna(0)
df['CHOLMED3'].describe()

count    436654.000000
mean          0.263165
std           0.440352
min           0.000000
25%           0.000000
50%           0.000000
75%           1.000000
max           1.000000
Name: CHOLMED3, dtype: float64

In [39]:
df['unk_CVDINFR4'] = df['CVDINFR4']
df['unk_CVDINFR4'] = df['unk_CVDINFR4'].replace([1,2],0)
df['unk_CVDINFR4'] = df['unk_CVDINFR4'].replace([7,9],1)
df['unk_CVDINFR4'] = df['unk_CVDINFR4'].fillna(1)
df['unk_CVDINFR4'].describe()

count    436654.000000
mean          0.005728
std           0.075464
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: unk_CVDINFR4, dtype: float64

In [40]:
# *had heart attack*
df['CVDINFR4'] = df['CVDINFR4'].replace([2,7,9],0)
df['CVDINFR4'] = df['CVDINFR4'].fillna(0)
df['CVDINFR4'].describe()

count    436654.000000
mean          0.051853
std           0.221731
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: CVDINFR4, dtype: float64

In [41]:
df['unk_CVDCRHD4'] = df['CVDCRHD4']
df['unk_CVDCRHD4'] = df['unk_CVDCRHD4'].replace([1,2],0)
df['unk_CVDCRHD4'] = df['unk_CVDCRHD4'].replace([7,9],1)
df['unk_CVDCRHD4'] = df['unk_CVDCRHD4'].fillna(1)
df['unk_CVDCRHD4'].describe()

count    436654.000000
mean          0.009387
std           0.096432
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: unk_CVDCRHD4, dtype: float64

In [42]:
# *told had angina or coronary heart disease*
df['CVDINFR4'] = df['CVDINFR4'].replace([2,7,9],0)
df['CVDINFR4'] = df['CVDINFR4'].fillna(0)
df['CVDINFR4'].describe()

count    436654.000000
mean          0.051853
std           0.221731
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: CVDINFR4, dtype: float64

In [43]:
df['unk_CVDSTRK3'] = df['CVDSTRK3']
df['unk_CVDSTRK3'] = df['unk_CVDSTRK3'].replace([1,2],0)
df['unk_CVDSTRK3'] = df['unk_CVDSTRK3'].replace([7,9],1)
df['unk_CVDSTRK3'] = df['unk_CVDSTRK3'].fillna(1)
df['unk_CVDSTRK3'].describe()

count    436654.000000
mean          0.002977
std           0.054482
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: unk_CVDSTRK3, dtype: float64

In [44]:
# *had stroke*
df['CVDSTRK3'] = df['CVDSTRK3'].replace([2,7,9],0)
df['CVDSTRK3'] = df['CVDSTRK3'].fillna(0)
df['CVDSTRK3'].describe()

count    436654.000000
mean          0.039070
std           0.193761
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: CVDSTRK3, dtype: float64

In [45]:
df['unk_ASTHMA3'] = df['ASTHMA3']
df['unk_ASTHMA3'] = df['unk_ASTHMA3'].replace([1,2],0)
df['unk_ASTHMA3'] = df['unk_ASTHMA3'].replace([7,9],1)
df['unk_ASTHMA3'] = df['unk_ASTHMA3'].fillna(1)
df['unk_ASTHMA3'].describe()

count    436654.000000
mean          0.003687
std           0.060610
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: unk_ASTHMA3, dtype: float64

In [46]:
# *had asthma*
df['ASTHMA3'] = df['ASTHMA3'].replace([2,7,9],0)
df['ASTHMA3'] = df['ASTHMA3'].fillna(0)
df['ASTHMA3'].describe()

count    436654.000000
mean          0.140138
std           0.347131
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: ASTHMA3, dtype: float64

In [47]:
df['unk_ASTHNOW'] = df['ASTHNOW']
df['unk_ASTHNOW'] = df['unk_ASTHNOW'].replace([1,2],0)
df['unk_ASTHNOW'] = df['unk_ASTHNOW'].replace([7,9],1)
df['unk_ASTHNOW'] = df['unk_ASTHNOW'].fillna(0)
df['unk_ASTHNOW'].describe()

count    436654.000000
mean          0.004081
std           0.063753
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: unk_ASTHNOW, dtype: float64

In [48]:
# *has asthma now*
df['ASTHNOW'] = df['ASTHNOW'].replace([2,7,9],0)
df['ASTHNOW'] = df['ASTHNOW'].fillna(0)
df['ASTHNOW'].describe()

count    436654.000000
mean          0.097235
std           0.296278
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: ASTHNOW, dtype: float64

In [49]:
df['unk_CHCSCNCR'] = df['CHCSCNCR']
df['unk_CHCSCNCR'] = df['unk_CHCSCNCR'].replace([1,2],0)
df['unk_CHCSCNCR'] = df['unk_CHCSCNCR'].replace([7,9],1)
df['unk_CHCSCNCR'] = df['unk_CHCSCNCR'].fillna(1)
df['unk_CHCSCNCR'].describe()

count    436654.000000
mean          0.003005
std           0.054732
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: unk_CHCSCNCR, dtype: float64

In [50]:
# *had skin cancer*
df['CHCSCNCR'] = df['CHCSCNCR'].replace([2,7,9],0)
df['CHCSCNCR'] = df['CHCSCNCR'].fillna(0)
df['CHCSCNCR'].describe()

count    436654.000000
mean          0.093671
std           0.291371
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: CHCSCNCR, dtype: float64

In [51]:
df['unk_CHCOCNCR'] = df['CHCOCNCR']
df['unk_CHCOCNCR'] = df['unk_CHCOCNCR'].replace([1,2],0)
df['unk_CHCOCNCR'] = df['unk_CHCOCNCR'].replace([7,9],1)
df['unk_CHCOCNCR'] = df['unk_CHCOCNCR'].fillna(1)
df['unk_CHCOCNCR'].describe()

count    436654.000000
mean          0.002803
std           0.052870
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: unk_CHCOCNCR, dtype: float64

In [52]:
# *had other cancer*
df['CHCOCNCR'] = df['CHCOCNCR'].replace([2,7,9],0)
df['CHCOCNCR'] = df['CHCOCNCR'].fillna(0)
df['CHCOCNCR'].describe()

count    436654.000000
mean          0.096326
std           0.295038
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: CHCOCNCR, dtype: float64

In [53]:
df['unk_CHCCOPD3'] = df['CHCCOPD3']
df['unk_CHCCOPD3'] = df['unk_CHCCOPD3'].replace([1,2],0)
df['unk_CHCCOPD3'] = df['unk_CHCCOPD3'].replace([7,9],1)
df['unk_CHCCOPD3'] = df['unk_CHCCOPD3'].fillna(1)
df['unk_CHCCOPD3'].describe()

count    436654.000000
mean          0.004447
std           0.066541
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: unk_CHCCOPD3, dtype: float64

In [54]:
# *had other cancer*
df['CHCCOPD3'] = df['CHCCOPD3'].replace([2,7,9],0)
df['CHCCOPD3'] = df['CHCCOPD3'].fillna(0)
df['CHCCOPD3'].describe()

count    436654.000000
mean          0.077679
std           0.267667
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: CHCCOPD3, dtype: float64

In [55]:
df['unk_ADDEPEV3'] = df['ADDEPEV3']
df['unk_ADDEPEV3'] = df['unk_ADDEPEV3'].replace([1,2],0)
df['unk_ADDEPEV3'] = df['unk_ADDEPEV3'].replace([7,9],1)
df['unk_ADDEPEV3'] = df['unk_ADDEPEV3'].fillna(1)
df['unk_ADDEPEV3'].describe()

count    436654.000000
mean          0.005370
std           0.073086
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: unk_ADDEPEV3, dtype: float64

In [56]:
# *had depressive disorder*
df['ADDEPEV3'] = df['ADDEPEV3'].replace([2,7,9],0)
df['ADDEPEV3'] = df['ADDEPEV3'].fillna(0)
df['ADDEPEV3'].describe()

count    436654.000000
mean          0.194616
std           0.395906
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: ADDEPEV3, dtype: float64

In [57]:
df['unk_CHCKDNY2'] = df['CHCKDNY2']
df['unk_CHCKDNY2'] = df['unk_CHCKDNY2'].replace([1,2],0)
df['unk_CHCKDNY2'] = df['unk_CHCKDNY2'].replace([7,9],1)
df['unk_CHCKDNY2'] = df['unk_CHCKDNY2'].fillna(1)
df['unk_CHCKDNY2'].describe()

count    436654.000000
mean          0.003811
std           0.061614
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: unk_CHCKDNY2, dtype: float64

In [58]:
# *had kidney disease*
df['ADDEPEV3'] = df['ADDEPEV3'].replace([2,7,9],0)
df['ADDEPEV3'] = df['ADDEPEV3'].fillna(0)
df['ADDEPEV3'].describe()

count    436654.000000
mean          0.194616
std           0.395906
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: ADDEPEV3, dtype: float64

In [59]:
df['unk_DIABETE4'] = df['DIABETE4']
df['unk_DIABETE4'] = df['unk_DIABETE4'].replace([1,2,3,4],0)
df['unk_DIABETE4'] = df['unk_DIABETE4'].replace([7,9],1)
df['unk_DIABETE4'] = df['unk_DIABETE4'].fillna(1)
df['unk_DIABETE4'].describe()

count    436654.000000
mean          0.001960
std           0.044233
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: unk_DIABETE4, dtype: float64

In [60]:
# *had diabetes during pregnancy*
df['pregnancy_diabetes'] = df['DIABETE4']
df['pregnancy_diabetes'] = df['pregnancy_diabetes'].replace([1,3,4,7,9],0)
df['pregnancy_diabetes'] = df['pregnancy_diabetes'].replace(2,1)
df['pregnancy_diabetes'] = df['pregnancy_diabetes'].fillna(0)
df['pregnancy_diabetes'].describe()

count    436654.000000
mean          0.008693
std           0.092832
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: pregnancy_diabetes, dtype: float64

In [61]:
# *had prediabetes*
df['pre_diabetes'] = df['DIABETE4']
df['pre_diabetes'] = df['pre_diabetes'].replace([1,2,3,7,9],0)
df['pre_diabetes'] = df['pre_diabetes'].replace(4,1)
df['pre_diabetes'] = df['pre_diabetes'].fillna(0)
df['pre_diabetes'].describe()

count    436654.000000
mean          0.022613
std           0.148666
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: pre_diabetes, dtype: float64

In [62]:
# *had diabetes*
df['DIABETE4'] = df['DIABETE4'].replace(2,1)
df['DIABETE4'] = df['DIABETE4'].replace([3,4,7,9],0)
df['DIABETE4'] = df['DIABETE4'].fillna(0)
df['DIABETE4'].describe()

count    436654.000000
mean          0.139777
std           0.346755
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: DIABETE4, dtype: float64

In [63]:
# drop s7q12, old when told had diabetes, not relevant for diagnosing
df = df.drop(['DIABAGE3'], axis=1)