In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import math

%matplotlib inline

import warnings

warnings.simplefilter(action='ignore', category=pd.errors.PerformanceWarning)

In [2]:
df = pd.read_csv('./data/brfss_clean.csv')

In [3]:
# imputation
#from sklearn.impute import SimpleImputer

#df_imputer = SimpleImputer()
#imputed_df = pd.DataFrame(df_imputer.fit_transform(df_mis))

#iterative imputer
#imputed_df.columns = df_mis.columns
#from fancyimpute import IterativeImputer

#imputed_df = IterativeImputer().fit_transform(df_mis)

#KNN
#from fancyimpute import KNN

#imputed_df = KNN(k=3).fit_transform(df_mis)

from sklearn.impute import KNNImputer

imputed_df = KNNImputer(n_neighbors=1).fit_transform(df)

imputed_df.describe()

AttributeError: 'numpy.ndarray' object has no attribute 'describe'

print("No. of columns containing null values")
print(len(imputed_df.columns[imputed_df.isna().any()]))

print("No. of columns not containing null values")
print(len(imputed_df.columns[imputed_df.notna().all()]))

print("Total no. of columns in the dataframe")
print(len(imputed_df.columns))

#df = df.dropna(axis=1)
#df.shape

In [ ]:
imputed_df.to_csv('./data/brfss_imputed.csv')

In [4]:
imputed_df

array([[0.00000e+00, 1.00000e+00, 4.00000e+00, ..., 0.00000e+00,
        0.00000e+00, 0.00000e+00],
       [1.00000e+00, 1.00000e+00, 2.00000e+00, ..., 0.00000e+00,
        0.00000e+00, 0.00000e+00],
       [2.00000e+00, 1.00000e+00, 1.00000e+00, ..., 0.00000e+00,
        0.00000e+00, 0.00000e+00],
       ...,
       [3.78561e+05, 0.00000e+00, 1.00000e+00, ..., 0.00000e+00,
        0.00000e+00, 0.00000e+00],
       [3.78562e+05, 0.00000e+00, 1.00000e+00, ..., 0.00000e+00,
        0.00000e+00, 0.00000e+00],
       [3.78563e+05, 1.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        0.00000e+00, 0.00000e+00]])

In [7]:
imdf = pd.DataFrame(imputed_df, columns=df.columns)
imdf.describe()

,Unnamed: 0,SEXVAR,GENHLTH,PHYSHLTH,MENTHLTH,POORHLTH,PERSDOC3,MEDCOST1,CHECKUP1,EXERANY2,...,smokeless_some_days_was_missing,smokeless_not_at_all_was_missing,ecig_every_day_was_missing,ecig_some_days_was_missing,ecig_not_at_all_was_missing,ecig_never_used_was_missing,not_graduate_high_school_was_missing,graduated_high_school_was_missing,attended_college_was_missing,graduated_college_was_missing
count,377880.000000,377880.000000,377880.000000,377880.000000,377880.000000,377880.000000,377880.000000,377880.000000,377880.000000,377880.000000,...,377880.000000,377880.000000,377880.000000,377880.000000,377880.000000,377880.000000,377880.000000,377880.000000,377880.000000,377880.000000
mean,189275.236231,0.538470,1.502662,3.783661,4.120906,2.758177,0.883024,0.073253,0.777720,0.763602,...,0.001088,0.001088,0.001342,0.001342,0.001342,0.001342,0.003562,0.003562,0.003562,0.003562
std,109278.606089,0.498519,1.043368,8.312136,8.131098,7.034716,0.321392,0.260552,0.415779,0.424870,...,0.032962,0.032962,0.036605,0.036605,0.036605,0.036605,0.059576,0.059576,0.059576,0.059576
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,94640.750000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,189273.500000,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,283908.250000,1.000000,2.000000,2.000000,4.000000,0.000000,1.000000,0.000000,1.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,378563.000000,1.000000,4.000000,30.000000,30.000000,30.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [6]:
df.columns

Index(['Unnamed: 0', 'SEXVAR', 'GENHLTH', 'PHYSHLTH', 'MENTHLTH', 'POORHLTH',
       'PERSDOC3', 'MEDCOST1', 'CHECKUP1', 'EXERANY2',
       ...
       'smokeless_some_days_was_missing', 'smokeless_not_at_all_was_missing',
       'ecig_every_day_was_missing', 'ecig_some_days_was_missing',
       'ecig_not_at_all_was_missing', 'ecig_never_used_was_missing',
       'not_graduate_high_school_was_missing',
       'graduated_high_school_was_missing', 'attended_college_was_missing',
       'graduated_college_was_missing'],
      dtype='object', length=178)

In [8]:
df2 = imdf[imdf.columns[1:]]
df2.describe()

,SEXVAR,GENHLTH,PHYSHLTH,MENTHLTH,POORHLTH,PERSDOC3,MEDCOST1,CHECKUP1,EXERANY2,BPMEDS,...,smokeless_some_days_was_missing,smokeless_not_at_all_was_missing,ecig_every_day_was_missing,ecig_some_days_was_missing,ecig_not_at_all_was_missing,ecig_never_used_was_missing,not_graduate_high_school_was_missing,graduated_high_school_was_missing,attended_college_was_missing,graduated_college_was_missing
count,377880.000000,377880.000000,377880.000000,377880.000000,377880.000000,377880.000000,377880.000000,377880.000000,377880.000000,377880.000000,...,377880.000000,377880.000000,377880.000000,377880.000000,377880.000000,377880.000000,377880.000000,377880.000000,377880.000000,377880.000000
mean,0.538470,1.502662,3.783661,4.120906,2.758177,0.883024,0.073253,0.777720,0.763602,0.325876,...,0.001088,0.001088,0.001342,0.001342,0.001342,0.001342,0.003562,0.003562,0.003562,0.003562
std,0.498519,1.043368,8.312136,8.131098,7.034716,0.321392,0.260552,0.415779,0.424870,0.468702,...,0.032962,0.032962,0.036605,0.036605,0.036605,0.036605,0.059576,0.059576,0.059576,0.059576
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,1.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,1.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,1.000000,2.000000,2.000000,4.000000,0.000000,1.000000,0.000000,1.000000,1.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,1.000000,4.000000,30.000000,30.000000,30.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [9]:
df2.to_csv('./data/brfss_imputed.csv')