In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

import warnings

warnings.simplefilter(action='ignore', category=pd.errors.PerformanceWarning)

In [2]:
data = pd.read_sas('./data/LLCP2021.XPT')

In [3]:
data.columns

Index(['_STATE', 'FMONTH', 'IDATE', 'IMONTH', 'IDAY', 'IYEAR', 'DISPCODE',
       'SEQNO', '_PSU', 'CTELENM1',
       ...
       '_FRTRES1', '_VEGRES1', '_FRUTSU1', '_VEGESU1', '_FRTLT1A', '_VEGLT1A',
       '_FRT16A', '_VEG23A', '_FRUITE1', '_VEGETE1'],
      dtype='object', length=303)

In [4]:
data.describe()

,_STATE,FMONTH,DISPCODE,_PSU,CTELENM1,PVTRESD1,COLGHOUS,STATERE1,CELPHON1,LADULT1,...,_FRTRES1,_VEGRES1,_FRUTSU1,_VEGESU1,_FRTLT1A,_VEGLT1A,_FRT16A,_VEG23A,_FRUITE1,_VEGETE1
count,438693.000000,438693.000000,438693.000000,4.386930e+05,117786.000000,117786.000000,30.0,117786.0,117786.0,117786.000000,...,4.386930e+05,4.386930e+05,3.876060e+05,3.785660e+05,438693.000000,438693.000000,4.386930e+05,4.386930e+05,4.386930e+05,4.386930e+05
mean,30.742155,6.405680,1118.189030,2.021006e+09,1.000017,1.000255,1.0,1.0,2.0,1.006291,...,8.835473e-01,8.629406e-01,1.783430e+02,2.715442e+02,2.270561,2.257184,9.949669e-01,9.926988e-01,1.265190e-01,1.516619e-01
std,15.334888,3.421731,38.575453,6.383751e+03,0.004121,0.015957,0.0,0.0,0.0,0.079067,...,3.207674e-01,3.439104e-01,6.912931e+02,1.036227e+03,2.485479,2.711460,7.076589e-02,8.513485e-02,3.472441e-01,3.785014e-01
min,1.000000,1.000000,1100.000000,2.021000e+09,1.000000,1.000000,1.0,1.0,2.0,1.000000,...,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,1.000000,1.000000,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79
25%,20.000000,3.000000,1100.000000,2.021002e+09,1.000000,1.000000,1.0,1.0,2.0,1.000000,...,1.000000e+00,1.000000e+00,5.700000e+01,1.140000e+02,1.000000,1.000000,1.000000e+00,1.000000e+00,5.397605e-79,5.397605e-79
50%,31.000000,6.000000,1100.000000,2.021004e+09,1.000000,1.000000,1.0,1.0,2.0,1.000000,...,1.000000e+00,1.000000e+00,1.000000e+02,1.670000e+02,1.000000,1.000000,1.000000e+00,1.000000e+00,5.397605e-79,5.397605e-79
75%,41.000000,9.000000,1100.000000,2.021008e+09,1.000000,1.000000,1.0,1.0,2.0,1.000000,...,1.000000e+00,1.000000e+00,2.000000e+02,2.290000e+02,2.000000,2.000000,1.000000e+00,1.000000e+00,5.397605e-79,5.397605e-79
max,78.000000,12.000000,1200.000000,2.021039e+09,2.000000,2.000000,1.0,1.0,2.0,2.000000,...,1.000000e+00,1.000000e+00,1.980000e+04,3.960000e+04,9.000000,9.000000,1.000000e+00,1.000000e+00,2.000000e+00,2.000000e+00

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 438693 entries, 0 to 438692
Columns: 303 entries, _STATE to _VEGETE1
dtypes: float64(298), object(5)
memory usage: 1014.1+ MB

In [25]:
data.columns

Index(['_STATE', 'FMONTH', 'IDATE', 'IMONTH', 'IDAY', 'IYEAR', 'DISPCODE',
       'SEQNO', '_PSU', 'CTELENM1',
       ...
       '_FRTRES1', '_VEGRES1', '_FRUTSU1', '_VEGESU1', '_FRTLT1A', '_VEGLT1A',
       '_FRT16A', '_VEG23A', '_FRUITE1', '_VEGETE1'],
      dtype='object', length=303)

In [26]:
data.select_dtypes(include=['object']).columns

Index(['IDATE', 'IMONTH', 'IDAY', 'IYEAR', 'SEQNO'], dtype='object')

In [7]:
data['QSTVER'].value_counts(sort=False).rename({20: "cell phone single questionnaire", 21: "cell phone multiple questionnaire v1", 22: "cell phone multiple questionnaire v2", 23: "cell phone multiple questionnaire v3", 10: "landline single questionnaire", 11: "landline multiple questionnaire v1", 12: "landline multiple questionnaire v2", 13: "landline multiple questionnaire v3"})

landline single questionnaire            66467
cell phone single questionnaire         197277
landline multiple questionnaire v1       22612
landline multiple questionnaire v2       20622
cell phone multiple questionnaire v1     55822
cell phone multiple questionnaire v2     52307
landline multiple questionnaire v3        8085
cell phone multiple questionnaire v3     15501
Name: QSTVER, dtype: int64

In [8]:
a = data['QSTVER'].value_counts()
print(f"{'landline sum':14} {a[10]+a[11]+a[12]+a[13]}\n{'cell phone sum':14} {a[20]+a[21]+a[22]+a[23]}")

landline sum   117786
cell phone sum 320907

In [9]:
data.DISPCODE.value_counts(normalize=True).rename({1100: "completed interview", 1200: "partial completed interview"})

completed interview            0.81811
partial completed interview    0.18189
Name: DISPCODE, dtype: float64

In [10]:
data.CTELENM1.value_counts(dropna=False).rename(index=str).rename({'nan': 'cellphone', '1.0': 'correct number', '2.0': 'incorrect number'})

cellphone           320907
correct number      117784
incorrect number         2
Name: CTELENM1, dtype: int64

In [11]:
data[data.CTELENM1 == 2]

,_STATE,FMONTH,IDATE,IMONTH,IDAY,IYEAR,DISPCODE,SEQNO,_PSU,CTELENM1,...,_FRTRES1,_VEGRES1,_FRUTSU1,_VEGESU1,_FRTLT1A,_VEGLT1A,_FRT16A,_VEG23A,_FRUITE1,_VEGETE1
132142,23.0,1.0,b'03182021',b'03',b'18',b'2021',1100.0,b'2021000049',2.021000e+09,2.0,...,1.0,1.0,58.0,243.0,2.0,1.0,1.0,1.0,5.397605e-79,5.397605e-79
134418,23.0,10.0,b'10132021',b'10',b'13',b'2021',1100.0,b'2021002325',2.021002e+09,2.0,...,1.0,1.0,400.0,379.0,1.0,1.0,1.0,1.0,5.397605e-79,5.397605e-79

In [12]:
data2 = data[data.CTELENM1 != 2] # dropping incorrect phone numbers
len(data.index)

438693

In [13]:
data2.PVTRESD1.value_counts(dropna=False).rename(index=str).rename({'nan': 'cellphone', '1.0': 'private res', '2.0': 'college housing'})

cellphone          320907
private res        117754
college housing        30
Name: PVTRESD1, dtype: int64

should drop missing values and such before this step

dropping columns related to state, time of interview, whether they are in college housing or not.

In [14]:
df = data2.drop(['_STATE', 'FMONTH', 'IDATE', 'IMONTH', 'IDAY', 'IYEAR', 'SEQNO', 'DISPCODE', '_PSU', 'CTELENM1', 
                'PVTRESD1', 'COLGHOUS', 'STATERE1', 'CELPHON1', 'LADULT1', 'SAFETIME', 'CTELNUM1', 'CELLFON5',
               'CADULT1', 'PVTRESD3', 'CCLGHOUS', 'CSTATE1', 'LANDLINE', 'HHADULT', 'NUMPHON3','CPDEMO1B'], axis=1)
df.columns.size

277

In [15]:
di = df.corrwith(df['DIABETE4']).abs().sort_values().dropna()
di

NUMMEN      0.000064
_VEG23A     0.000306
FLSHTMY3    0.000532
_RFBMI5     0.000541
FRUIT2      0.000644
              ...
_AGE_G      0.176549
CHOLMED3    0.209810
GENHLTH     0.213604
BPHIGH6     0.240133
DIABETE4    1.000000
Length: 264, dtype: float64

In [16]:
di.index.size

264

In [19]:
[i for i in df.columns if not i in di.index]

['DIABAGE3',
 'INSULIN1',
 'BLDSUGAR',
 'FEETCHK3',
 'DOCTDIAB',
 'CHKHEMO3',
 'FEETCHK',
 'EYEEXAM1',
 'DIABEYE',
 'DIABEDU',
 'TOLDCFS',
 'HAVECFS',
 'WORKCFS']

features that when trying to calculate correlation with Diabetes had value of "NaN

All features besides the bottom three CFS (Chronic Fatigue Syndrome) are diabetes questions that would have been asked after it was determined that the patient already most likely had diabetes

In [20]:
df[['TOLDCFS', 'HAVECFS', 'WORKCFS']].describe()

       TOLDCFS  HAVECFS  WORKCFS
count      0.0      0.0      0.0
mean       NaN      NaN      NaN
std        NaN      NaN      NaN
min        NaN      NaN      NaN
25%        NaN      NaN      NaN
50%        NaN      NaN      NaN
75%        NaN      NaN      NaN
max        NaN      NaN      NaN

Not one person called had CFS

In [21]:
len(df.index)

438691

In [22]:
for column in df:
    if(df[column].notna().sum() < 0.001*len(df.index)):
        print(f"{column:8} {df[column].notna().sum()}")

COLGSEX  30
TOLDCFS  0
HAVECFS  0
WORKCFS  0
TRETHEPC 162
PRIRHEPC 162
HAVEHEPC 162
MEDSHEPB 95
SIGMTES1 63
VCLNTES1 203
BLDSTFIT 390
SDNATES1 390

In [23]:
df2 = df.drop(['TOLDCFS', 'HAVECFS', 'WORKCFS'], axis = 1)
df2.columns.size

274