In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

import warnings

warnings.simplefilter(action='ignore', category=pd.errors.PerformanceWarning)

In [2]:
data = pd.read_sas('./data/LLCP2021.XPT')

In [3]:
data.columns

Index(['_STATE', 'FMONTH', 'IDATE', 'IMONTH', 'IDAY', 'IYEAR', 'DISPCODE',
       'SEQNO', '_PSU', 'CTELENM1',
       ...
       '_FRTRES1', '_VEGRES1', '_FRUTSU1', '_VEGESU1', '_FRTLT1A', '_VEGLT1A',
       '_FRT16A', '_VEG23A', '_FRUITE1', '_VEGETE1'],
      dtype='object', length=303)

In [4]:
data.describe()

,_STATE,FMONTH,DISPCODE,_PSU,CTELENM1,PVTRESD1,COLGHOUS,STATERE1,CELPHON1,LADULT1,...,_FRTRES1,_VEGRES1,_FRUTSU1,_VEGESU1,_FRTLT1A,_VEGLT1A,_FRT16A,_VEG23A,_FRUITE1,_VEGETE1
count,438693.000000,438693.000000,438693.000000,4.386930e+05,117786.000000,117786.000000,30.0,117786.0,117786.0,117786.000000,...,4.386930e+05,4.386930e+05,3.876060e+05,3.785660e+05,438693.000000,438693.000000,4.386930e+05,4.386930e+05,4.386930e+05,4.386930e+05
mean,30.742155,6.405680,1118.189030,2.021006e+09,1.000017,1.000255,1.0,1.0,2.0,1.006291,...,8.835473e-01,8.629406e-01,1.783430e+02,2.715442e+02,2.270561,2.257184,9.949669e-01,9.926988e-01,1.265190e-01,1.516619e-01
std,15.334888,3.421731,38.575453,6.383751e+03,0.004121,0.015957,0.0,0.0,0.0,0.079067,...,3.207674e-01,3.439104e-01,6.912931e+02,1.036227e+03,2.485479,2.711460,7.076589e-02,8.513485e-02,3.472441e-01,3.785014e-01
min,1.000000,1.000000,1100.000000,2.021000e+09,1.000000,1.000000,1.0,1.0,2.0,1.000000,...,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,1.000000,1.000000,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79
25%,20.000000,3.000000,1100.000000,2.021002e+09,1.000000,1.000000,1.0,1.0,2.0,1.000000,...,1.000000e+00,1.000000e+00,5.700000e+01,1.140000e+02,1.000000,1.000000,1.000000e+00,1.000000e+00,5.397605e-79,5.397605e-79
50%,31.000000,6.000000,1100.000000,2.021004e+09,1.000000,1.000000,1.0,1.0,2.0,1.000000,...,1.000000e+00,1.000000e+00,1.000000e+02,1.670000e+02,1.000000,1.000000,1.000000e+00,1.000000e+00,5.397605e-79,5.397605e-79
75%,41.000000,9.000000,1100.000000,2.021008e+09,1.000000,1.000000,1.0,1.0,2.0,1.000000,...,1.000000e+00,1.000000e+00,2.000000e+02,2.290000e+02,2.000000,2.000000,1.000000e+00,1.000000e+00,5.397605e-79,5.397605e-79
max,78.000000,12.000000,1200.000000,2.021039e+09,2.000000,2.000000,1.0,1.0,2.0,2.000000,...,1.000000e+00,1.000000e+00,1.980000e+04,3.960000e+04,9.000000,9.000000,1.000000e+00,1.000000e+00,2.000000e+00,2.000000e+00

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 438693 entries, 0 to 438692
Columns: 303 entries, _STATE to _VEGETE1
dtypes: float64(298), object(5)
memory usage: 1014.1+ MB

In [6]:
data.columns

Index(['_STATE', 'FMONTH', 'IDATE', 'IMONTH', 'IDAY', 'IYEAR', 'DISPCODE',
       'SEQNO', '_PSU', 'CTELENM1',
       ...
       '_FRTRES1', '_VEGRES1', '_FRUTSU1', '_VEGESU1', '_FRTLT1A', '_VEGLT1A',
       '_FRT16A', '_VEG23A', '_FRUITE1', '_VEGETE1'],
      dtype='object', length=303)

In [7]:
data.select_dtypes(include=['object']).columns

Index(['IDATE', 'IMONTH', 'IDAY', 'IYEAR', 'SEQNO'], dtype='object')

In [8]:
data['QSTVER'].value_counts(sort=False).rename({20: "cell phone single questionnaire", 21: "cell phone multiple questionnaire v1", 22: "cell phone multiple questionnaire v2", 23: "cell phone multiple questionnaire v3", 10: "landline single questionnaire", 11: "landline multiple questionnaire v1", 12: "landline multiple questionnaire v2", 13: "landline multiple questionnaire v3"})

landline single questionnaire            66467
cell phone single questionnaire         197277
landline multiple questionnaire v1       22612
landline multiple questionnaire v2       20622
cell phone multiple questionnaire v1     55822
cell phone multiple questionnaire v2     52307
landline multiple questionnaire v3        8085
cell phone multiple questionnaire v3     15501
Name: QSTVER, dtype: int64

In [9]:
a = data['QSTVER'].value_counts()
print(f"{'landline sum':14} {a[10]+a[11]+a[12]+a[13]}\n{'cell phone sum':14} {a[20]+a[21]+a[22]+a[23]}")

landline sum   117786
cell phone sum 320907

In [10]:
data.DISPCODE.value_counts(normalize=True).rename({1100: "completed interview", 1200: "partial completed interview"})

completed interview            0.81811
partial completed interview    0.18189
Name: DISPCODE, dtype: float64

In [11]:
data.CTELENM1.value_counts(dropna=False).rename(index=str).rename({'nan': 'cellphone', '1.0': 'correct number', '2.0': 'incorrect number'})

cellphone           320907
correct number      117784
incorrect number         2
Name: CTELENM1, dtype: int64

In [12]:
data[data.CTELENM1 == 2]

,_STATE,FMONTH,IDATE,IMONTH,IDAY,IYEAR,DISPCODE,SEQNO,_PSU,CTELENM1,...,_FRTRES1,_VEGRES1,_FRUTSU1,_VEGESU1,_FRTLT1A,_VEGLT1A,_FRT16A,_VEG23A,_FRUITE1,_VEGETE1
132142,23.0,1.0,b'03182021',b'03',b'18',b'2021',1100.0,b'2021000049',2.021000e+09,2.0,...,1.0,1.0,58.0,243.0,2.0,1.0,1.0,1.0,5.397605e-79,5.397605e-79
134418,23.0,10.0,b'10132021',b'10',b'13',b'2021',1100.0,b'2021002325',2.021002e+09,2.0,...,1.0,1.0,400.0,379.0,1.0,1.0,1.0,1.0,5.397605e-79,5.397605e-79

In [13]:
data2 = data[data.CTELENM1 != 2] # dropping incorrect phone numbers
len(data.index)

438693

In [14]:
data2.PVTRESD1.value_counts(dropna=False).rename(index=str).rename({'nan': 'cellphone', '1.0': 'private res', '2.0': 'college housing'})

cellphone          320907
private res        117754
college housing        30
Name: PVTRESD1, dtype: int64

should drop missing values and such before this step

dropping columns related to state, time of interview, whether they are in college housing or not.

In [15]:
df = data2.drop(['_STATE', 'FMONTH', 'IDATE', 'IMONTH', 'IDAY', 'IYEAR', 'SEQNO', 'DISPCODE', '_PSU', 'CTELENM1', 
                'PVTRESD1', 'COLGHOUS', 'STATERE1', 'CELPHON1', 'LADULT1', 'SAFETIME', 'CTELNUM1', 'CELLFON5',
               'CADULT1', 'PVTRESD3', 'CCLGHOUS', 'CSTATE1', 'LANDLINE', 'HHADULT', 'NUMPHON3','CPDEMO1B'], axis=1)
df.columns.size

277

In [16]:
di = df.corrwith(df['DIABETE4']).abs().sort_values().dropna()
di

NUMMEN      0.000064
_VEG23A     0.000306
FLSHTMY3    0.000532
_RFBMI5     0.000541
FRUIT2      0.000644
              ...
_AGE_G      0.176549
CHOLMED3    0.209810
GENHLTH     0.213604
BPHIGH6     0.240133
DIABETE4    1.000000
Length: 264, dtype: float64

In [17]:
di.index.size

264

In [18]:
[i for i in df.columns if not i in di.index]

['DIABAGE3',
 'INSULIN1',
 'BLDSUGAR',
 'FEETCHK3',
 'DOCTDIAB',
 'CHKHEMO3',
 'FEETCHK',
 'EYEEXAM1',
 'DIABEYE',
 'DIABEDU',
 'TOLDCFS',
 'HAVECFS',
 'WORKCFS']

features that when trying to calculate correlation with Diabetes had value of "NaN

All features besides the bottom three CFS (Chronic Fatigue Syndrome) are diabetes questions that would have been asked after it was determined that the patient already most likely had diabetes

In [19]:
df[['TOLDCFS', 'HAVECFS', 'WORKCFS']].describe()

       TOLDCFS  HAVECFS  WORKCFS
count      0.0      0.0      0.0
mean       NaN      NaN      NaN
std        NaN      NaN      NaN
min        NaN      NaN      NaN
25%        NaN      NaN      NaN
50%        NaN      NaN      NaN
75%        NaN      NaN      NaN
max        NaN      NaN      NaN

Not one person called had CFS

In [20]:
len(df.index)

438691

In [21]:
for column in df:
    if(df[column].notna().sum() < 0.001*len(df.index)):
        print(f"{column:8} {df[column].notna().sum()}")

COLGSEX  30
TOLDCFS  0
HAVECFS  0
WORKCFS  0
TRETHEPC 162
PRIRHEPC 162
HAVEHEPC 162
MEDSHEPB 95
SIGMTES1 63
VCLNTES1 203
BLDSTFIT 390
SDNATES1 390

In [22]:
df2 = df.drop(['TOLDCFS', 'HAVECFS', 'WORKCFS'], axis = 1)
df2.columns.size

274

In [24]:
df2.columns

Index(['COLGSEX', 'NUMADULT', 'LANDSEX', 'NUMMEN', 'NUMWOMEN', 'RESPSLCT',
       'CELLSEX', 'SEXVAR', 'GENHLTH', 'PHYSHLTH',
       ...
       '_FRTRES1', '_VEGRES1', '_FRUTSU1', '_VEGESU1', '_FRTLT1A', '_VEGLT1A',
       '_FRT16A', '_VEG23A', '_FRUITE1', '_VEGETE1'],
      dtype='object', length=274)

In [31]:
df2[['SEXVAR', 'GENHLTH', 'PHYSHLTH', 'MENTHLTH', 'POORHLTH', 'PERSDOC3', 'MEDCOST1', 'CHECKUP1', 'EXERANY2']].describe()

,SEXVAR,GENHLTH,PHYSHLTH,MENTHLTH,POORHLTH,PERSDOC3,MEDCOST1,CHECKUP1,EXERANY2
count,438691.000000,438687.000000,438688.000000,438689.000000,233413.000000,438689.000000,438686.000000,438689.000000,438689.000000
mean,1.535416,2.524764,63.190026,59.923413,54.000655,1.578873,1.942993,1.470789,1.258044
std,0.498745,1.082068,36.222119,37.472643,38.533457,0.892252,0.412581,1.128489,0.522586
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,1.000000,2.000000,25.000000,15.000000,10.000000,1.000000,2.000000,1.000000,1.000000
50%,2.000000,2.000000,88.000000,88.000000,88.000000,1.000000,2.000000,1.000000,1.000000
75%,2.000000,3.000000,88.000000,88.000000,88.000000,2.000000,2.000000,1.000000,1.000000
max,2.000000,9.000000,99.000000,99.000000,99.000000,9.000000,9.000000,9.000000,9.000000

In [36]:
df2[['BPHIGH6', 'BPMEDS', 'TOLDHI3', 'CHOLMED3', 'CVDINFR4', 'MARITAL', 'EDUCA', 'INCOME3', 'PREGNANT']].describe()

,BPHIGH6,BPMEDS,TOLDHI3,CHOLMED3,CVDINFR4,MARITAL,EDUCA,INCOME3,PREGNANT
count,438689.000000,172132.000000,377856.000000,377121.000000,438689.000000,438686.000000,438686.000000,429844.000000,80672.000000
mean,2.238438,1.187862,1.647765,1.722198,1.979719,2.397870,5.035267,23.222362,2.020317
std,1.053717,0.507138,0.713508,0.616784,0.470205,1.825153,1.047852,33.568246,0.594835
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,1.000000,1.000000,1.000000,1.000000,2.000000,1.000000,4.000000,6.000000,2.000000
50%,3.000000,1.000000,2.000000,2.000000,2.000000,1.000000,5.000000,8.000000,2.000000
75%,3.000000,1.000000,2.000000,2.000000,2.000000,3.000000,6.000000,10.000000,2.000000
max,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,99.000000,9.000000

In [ ]:
# _EDUCAG may be better than EDUCA
# _INCOMG1 may be better than INCOME3

In [38]:
df2[['WEIGHT2', 'HEIGHT3', 'DECIDE', 'DIFFWALK', 'DIFFDRES', 'DIFFALON', 'SMOKE100', 'SMOKDAY2', 'USENOW3']].describe()

,WEIGHT2,HEIGHT3,DECIDE,DIFFWALK,DIFFDRES,DIFFALON,SMOKE100,SMOKDAY2,USENOW3
count,426875.000000,425732.000000,421848.000000,420682.000000,419905.000000,418838.000000,417459.000000,167453.000000,416702.000000
mean,828.576689,809.566046,1.932075,1.864054,1.973032,1.947655,1.641687,2.458039,2.961474
std,2356.011913,1569.334861,0.589893,0.535093,0.353299,0.449092,0.721080,0.888965,0.392549
min,50.000000,300.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,150.000000,504.000000,2.000000,2.000000,2.000000,2.000000,1.000000,2.000000,3.000000
50%,180.000000,507.000000,2.000000,2.000000,2.000000,2.000000,2.000000,3.000000,3.000000
75%,220.000000,511.000000,2.000000,2.000000,2.000000,2.000000,2.000000,3.000000,3.000000
max,9999.000000,9999.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000

In [ ]:
# _SMOKER3 may be better than SMOKE100 and SMOKDAY2

In [40]:
df2[['ECIGNOW1', 'ALCDAY5', 'AVEDRNK3', 'DRNK3GE5', 'MAXDRNKS', 'FLUSHOT7', 'FLSHTMY3', 'IMFVPLA2', 'PNEUVAC4']].describe()

,ECIGNOW1,ALCDAY5,AVEDRNK3,DRNK3GE5,MAXDRNKS,FLUSHOT7,FLSHTMY3,IMFVPLA2,PNEUVAC4
count,415666.000000,414204.000000,210421.000000,209824.000000,209262.000000,411043.000000,211634.000000,208391.000000,409604.000000
mean,3.145523,526.709969,4.207878,66.566232,6.056967,1.536477,149620.976596,4.465759,2.046879
std,0.599657,355.293681,12.773189,36.470593,14.864479,0.783637,191307.913158,6.957563,1.577978
min,1.000000,101.000000,1.000000,1.000000,1.000000,1.000000,2020.000000,1.000000,1.000000
25%,3.000000,202.000000,1.000000,30.000000,1.000000,1.000000,92020.000000,1.000000,1.000000
50%,3.000000,230.000000,2.000000,88.000000,2.000000,1.000000,102020.000000,5.000000,2.000000
75%,3.000000,888.000000,3.000000,88.000000,4.000000,2.000000,112020.000000,5.000000,2.000000
max,9.000000,999.000000,99.000000,99.000000,99.000000,9.000000,999999.000000,99.000000,9.000000

In [34]:
# ify
df2[['RENTHOM1','EMPLOY1', 'CHILDREN']].describe()

            RENTHOM1        EMPLOY1       CHILDREN
count  438683.000000  435103.000000  432556.000000
mean        1.413032       3.803529      66.086343
std         0.932789       2.873349      37.644673
min         1.000000       1.000000       1.000000
25%         1.000000       1.000000       5.000000
50%         1.000000       2.000000      88.000000
75%         2.000000       7.000000      88.000000
max         9.000000       9.000000      99.000000

In [ ]:
# _HLTHPLN in stead of PRIMINSR

In [45]:
data2 = df2[['_AGEG5YR', 'SEXVAR','_RFCHOL3', '_CHOLCH3', '_BMI5','SMOKE100', '_MICHD', '_TOTINDA', '_FRTLT1A', '_VEGLT1A', '_RFHYPE6', '_EDUCAG', '_INCOMG1', '_RFDRHV7','DIFFWALK', 'DIABETE4']]
data2.describe()

,_AGEG5YR,SEXVAR,_RFCHOL3,_CHOLCH3,_BMI5,SMOKE100,_MICHD,_TOTINDA,_FRTLT1A,_VEGLT1A,_RFHYPE6,_EDUCAG,_INCOMG1,DIABETE4
count,438691.000000,438691.000000,377541.000000,438691.000000,391839.000000,417459.000000,434056.000000,438691.000000,438691.000000,438691.000000,438691.000000,438691.000000,438691.000000,438688.000000
mean,7.726019,1.535416,1.463001,1.716965,2855.227657,1.641687,1.918623,1.260892,2.270564,2.257190,1.427244,3.068198,5.339904,2.761945
std,3.645934,0.498745,0.845037,2.036558,655.195952,0.721080,0.273413,0.557933,2.485483,2.711465,0.699127,1.047387,2.391909,0.743412
min,1.000000,1.000000,1.000000,1.000000,1200.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,5.000000,1.000000,1.000000,1.000000,2414.000000,1.000000,2.000000,1.000000,1.000000,1.000000,1.000000,2.000000,4.000000,3.000000
50%,8.000000,2.000000,1.000000,1.000000,2744.000000,2.000000,2.000000,1.000000,1.000000,1.000000,1.000000,3.000000,5.000000,3.000000
75%,11.000000,2.000000,2.000000,1.000000,3174.000000,2.000000,2.000000,1.000000,2.000000,2.000000,2.000000,4.000000,7.000000,3.000000
max,14.000000,2.000000,9.000000,9.000000,9933.000000,9.000000,2.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000

In [ ]:
# _AGEG5YR Reported age in five-year age categories calculated variable
# SEXVAR reported sex
# _RFCHOL3 High Cholesterol or not
# _CHOLCH3 Cholesterol check within past five years
# _BMI5 body mass index 2 decimal places
# SMOKE100 smoked at least 100 cigarettes in your entire life? [Note: 5 packs = 100 cigarettes]
# _MICHD reported having coronary heart disease (CHD) or myocardial infarction (MI)
# _TOTINDA reported doing physical activity or exercise during the past 30 days other than their regular job
# _FRTLT1A consume Fruit 1 or more times per day
# _VEGLT1A Consume Vegetables 1 or more times per day
# _RFHYPE6 been told they have high blood pressure by a doctor, nurse, or other health professional
# _EDUCAG level of education completed
# _INCOMG1 Computed income categories 1-7(<15000, >200000), 9 (don't know)
# _RFDRHV7 Heavy drinkers (adult men having more than 14 drinks/week and adult women having more than 7 drinks/week)
# DIFFWALK have serious difficulty walking or climbing stairs?
# DIABETE4 have diabetes

In [ ]:
# CVDCRHD4 target var (angina or coronary heart disease)
# CVDSTRK3 target var (stroke)
# ASTHMA3 target var (asthma); ASTHNOW if they still have asthma
# CHCSCNCR target var (skin cancer)
# CHCOCNCR target var (other cancer)
# CHCCOPD3 target var (chronic obstructive pulmonary disease)
# ADDEPEV3 target var (depressive disorder)
# CHCKDNY2 target var (kidney disease)
# DIABETE4 target var (diabetes); if not target var, DIABAGE3
# HAVARTH5 target var (arthritis); if not target var, ARTHEXER, ARTHEDU, LMTJOIN3, ARTHDIS2, JOINPAI2
# DEAF target var (deaf or hearing difficuly)
# BLIND target var (blind or difficulty seeing)